[mysqld]
max_allowed_packet=128M
transaction-isolation = READ-COMMITTED

max_connections = 200
connect_timeout = 60 

set-variable = innodb_log_file_size=512M
set-variable = innodb_log_buffer_size=8M
set-variable = innodb_buffer_pool_size=2G
set-variable = innodb_additional_mem_pool_size=50M
#set-variable = transaction-isolation = READ-COMMITTED


key_buffer=4000M

query_cache_type=1
query_cache_limit=10M
query_cache_size=128M

# threading
thread_cache_size = 64
thread_cache_size = 16
thread_concurrency = 4
thread_stack = 192K

# inodb
innodb_thread_concurrency=0
innodb_concurrency_tickets=10000
innodb_commit_concurrency=0
innodb_flush_method=O_DIRECT
innodb_file_io_threads = 4 
innodb_checksums=0 
innodb_doublewrite=0 
innodb_locks_unsafe_for_binlog = true
innodb_data_file_path = ibdata1:2047M;ibdata2:2047M;ibdata3:2047M;ibdata4:10M:autoextend

max_heap_table_size=2048M
tmp_table_size=2048M

long_query_time=5
innodb_sync_spin_loops=60

innodb_force_recovery = 0
innodb_lock_wait_timeout = 100

[mysql.server]
STRICT_TRANS_TABLES=1
transaction-isolation = READ-COMMITTED
tx_isolation=READ-COMMITTED



