*.pyc
*-min.js
*-min.css
*-min.html
WMCORE_JENKINS_REPLACEMENT_SOURCE.tar.gz
.noseids
*.patch

.idea/
.project
.pydevproject
.couchapprc
.couchappignore
.settings/
TEST_AREA/
list-tests-alerts.txt
list-tests-reqmgr.txt
run_my_tests.py
setup.sh
setup_environment_only.sh
shutdown.sh
tester_runner_bash.sh
