include setup_build.py
include setup_dependencies.py
recursive-include bin *
include requirements.txt
include LICENSE
include NOTICE
graft src/couchapps
graft src/css
graft src/html
graft src/javascript
graft src/templates
