# All dependencies needed to run WMCore software
#
# This file is parsed by tools/build_pypi_packages.sh to create requirements.txt
# files for each piece of software built from WMCore and uploaded to PyPI
# Format:
# PackageName==X.Y.Z          # <comma separated list of WMCore software needing the package>
#
# Different version specifiers are used to ensure compatibility and to avoid potential python conficts
# == when exact version of the package is required
# >= when a newer version of the package is required
# ~= when we need compatibility of the version, e.g. stay within major version of the package
# for more details please refer to official Python documentation, see
# https://www.python.org/dev/peps/pep-0440/#version-specifiers

Cheetah3~=3.2.6.post1         # wmcore,wmagent,reqmgr2,reqmon
CherryPy~=18.8.0              # wmcore,wmagent,wmagent-devtools,reqmgr2,reqmon,global-workqueue,reqmgr2ms-unmerged,reqmgr2ms-output,reqmgr2ms-pileup,reqmgr2ms-monitor,reqmgr2ms-transferor,reqmgr2ms-rulecleaner
CMSCouchapp~=1.3.4            # wmcore,wmagent
CMSMonitoring~=0.6.10         # wmcore,wmagent,reqmgr2,reqmon,global-workqueue,reqmgr2ms-unmerged,reqmgr2ms-output,reqmgr2ms-pileup,reqmgr2ms-monitor,reqmgr2ms-transferor,reqmgr2ms-rulecleaner
coverage~=5.4                 # wmcore,wmagent,wmagent-devtools
cx-Oracle~=8.3.0              # wmcore,wmagent
dbs3-client~=4.0.12           # wmcore,wmagent,reqmgr2,reqmon,global-workqueue
future~=0.18.2                # wmcore,wmagent,wmagent-devtools,reqmgr2,reqmon,acdcserver,global-workqueue,reqmgr2ms-unmerged,reqmgr2ms-output,reqmgr2ms-pileup,reqmgr2ms-monitor,reqmgr2ms-transferor,reqmgr2ms-rulecleaner
gfal2-python~=1.11.0.post3    # wmcore,reqmgr2ms-unmerged
httplib2~=0.20.4              # wmcore,wmagent,reqmgr2,reqmon,acdcserver,global-workqueue,reqmgr2ms-unmerged,reqmgr2ms-output,reqmgr2ms-pileup,reqmgr2ms-monitor,reqmgr2ms-transferor,reqmgr2ms-rulecleaner
htcondor~=10.2.3              # wmcore,wmagent
Jinja2~=3.1.2                 # wmcore,wmagent
memory-profiler~=0.60.0       # wmcore,wmagent-devtools
mock~=4.0.3                   # wmcore,wmagent,wmagent-devtools
mox3~=1.1.0                   # wmcore,wmagent-devtools
mysqlclient~=2.1.1            # wmcore,wmagent
nose~=1.3.7                   # wmcore,wmagent-devtools
nose2~=0.12.0                 # wmcore,wmagent-devtools
pycodestyle~=2.8.0            # wmcore,wmagent-devtools
psutil~=5.9.1                 # wmcore,wmagent,wmagent-devtools,reqmgr2,reqmon,global-workqueue
pycurl~=7.45.1                # wmcore,wmagent,reqmgr2,reqmon,global-workqueue,reqmgr2ms-unmerged,reqmgr2ms-output,reqmgr2ms-pileup,reqmgr2ms-monitor,reqmgr2ms-transferor,reqmgr2ms-rulecleaner
pylint~=2.14.5                # wmcore,wmagent-devtools
pymongo~=4.2.0                # wmcore,wmagent-devtools,reqmgr2ms-unmerged,reqmgr2ms-output,reqmgr2ms-pileup
pyOpenSSL~=18.0.0             # wmcore,wmagent
pyzmq~=23.2.1                 # wmcore,wmagent
retry~=0.9.2                  # wmcore,wmagent,wmagent-devtools,reqmgr2,reqmon,global-workqueue,reqmgr2ms-unmerged,reqmgr2ms-output,reqmgr2ms-pileup,reqmgr2ms-monitor,reqmgr2ms-transferor,reqmgr2ms-rulecleaner
rucio-clients~=1.29.10        # wmcore,wmagent,global-workqueue,reqmgr2ms-unmerged,reqmgr2ms-output,reqmgr2ms-pileup,reqmgr2ms-monitor,reqmgr2ms-transferor,reqmgr2ms-rulecleaner
Sphinx~=5.1.1                 # wmcore,wmagent,wmagent-devtools,reqmgr2,reqmon,acdcserver,global-workqueue
SQLAlchemy~=1.4.40            # wmcore,wmagent
PyJWT~=2.4.0                  # wmcore,wmagent,wmagent-devtools,reqmgr2,reqmon,acdcserver,global-workqueue,reqmgr2ms-unmerged,reqmgr2ms-output,reqmgr2ms-pileup,reqmgr2ms-monitor,reqmgr2ms-transferor,reqmgr2ms-rulecleaner
