@CHARSET "UTF-8";

.masthead {
	background:rgb(255, 233, 179);
	border:solid rgb(255, 55, 10) 0px;
	border-bottom-width: 1px;
}
.masthead .mastheadLeft ul, .masthead .mastheadRight ul {
	border:solid rgb(255, 55, 10) 0px; /*255, 40, 96*/
	color: rgb(255, 55, 10);
}
.masthead .mastheadLeft ul li a, .masthead .mastheadRight ul li a {
	color: rgb(255, 55, 10);
}
.masthead #prodrequest a{
	color:white;
	background:rgb(255, 55, 10);
}
/* This next bit is for site dependant masthead */
.mastheadfooter {
	background:rgb(255, 55, 10);
}
.mastheadfooter ul {
	color:white;
}
.mastheadfooter ul li {
	color:rgb(255, 233, 179);	
}
.mastheadfooter ul li a, .mastheadfooter ul li a:visited{
	color:white;
}
.mastheadfooter ul li a:hover{
	color:white;
}
.mastheadfooter ul li a:active{
	color:white;
}