<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<head><title>Teams</title></head>

<body>

<form action="handleAddTeam">
<b>Add Team:</b><input type="text" name="team" size=20/>
<input type=submit><br>
</form>

#for $team in $teams
  <a href="team/$team">$team</a><br>
#end for

</body>

