<head><title>User $user</title></head>

<body>
User $user <br><br>

<b>Groups:</b><br>
#for $group in $groups
  <a href="../group/$group">$group</a><br>
#end for
<br>

<form action="../handleAddToGroup">
<b> Add to Group: </b>
<select name="group">
#for $group in $allGroups
  <option>$group</option>
#end for
</select>
<input type="hidden" name="user" value=$user></input>
<input type=submit>
</form>

<form action="../handleUserPriority">
<b>User Priority:</b><input type="text" name="userPriority" size=2 value=$priority />
<input type="hidden" value=$user name="user"/>
<input type=submit>
</form>

<b>Requests:</b><br>
#for $request in $requests
  <a href="../requestDetails/$request">$request</a><br>
#end for

</body>
