<HTML>

<!-- Sam Skin CSS for TabView -->
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.1/build/tabview/assets/skins/sam/tabview.css">
 
<!-- JavaScript Dependencies for Tabview: -->
<script src="http://yui.yahooapis.com/2.8.1/build/yahoo-dom-event/yahoo-dom-event.js"></script>
<script src="http://yui.yahooapis.com/2.8.1/build/element/element-min.js"></script>
 
<!-- Source file for TabView -->
<script src="http://yui.yahooapis.com/2.8.1/build/tabview/tabview-min.js"></script>

<head> <title> Job request </title> 
<!-- Hokey way to keep ENTER from submitting the form.  Ticket #401 -->
<script type="text/javascript">

function stopRKey(evt) {
  var evt = (evt) ? evt : ((event) ? event : null);
  var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null);
  if ((evt.keyCode == 13) && (node.type=="text"))  {return false;}
}

document.onkeypress = stopRKey;

</script> 
</head>
<BODY CLASS="yui-skin-sam">

#def headerBlock
<form action="makeSchema" method="post">
User: $requestor&nbsp Group:

<select name="Group">'
    #for $group in $groups
        <option>$group</option>
    #end for
</select></br>

Request Priority: <input type="text" name="RequestPriority" size=2 value=1 /><br/>
#end def

#def softwareBlock
Software Release: <select name="CMSSWVersion">
			#for $version in $versions
    				#if $version == $defaultVersion
        				<OPTION SELECTED>$version</OPTION>
    				#else
        				<OPTION>$version</OPTION>
    				#end if
			#end for
		   </SELECT>

		   <SELECT NAME="ScramArch">
    			<OPTION>slc4_ia32_gcc345</OPTION>
    			<OPTION SELECTED>slc5_ia32_gcc434</OPTION>
    			<OPTION>slc5_amd64_gcc434</OPTION>
		   </SELECT><br/>

#end def 

#def configBlock($radioName, $scenarioName, $cacheName)
Configuration <BR>
  <INPUT TYPE="radio" NAME=$radioName VALUE="scenario"> Scenario
    <select name="Scenario">
      <option selected> pp
      <option> cosmics
      <option> hcalnzs
      <OPTION> preprodmc</OPTION>
      <OPTION> prodmc </OPTION>
      <OPTION> relvalmc </OPTION>
      <OPTION> relvalmcfs </OPTION>
    </select><BR>
  </INPUT>
  <INPUT TYPE="radio" NAME=$radioName VALUE="couchDB"> CouchDB ID
    <INPUT TYPE=TEXT" NAME="ProdConfigCacheID" SIZE=80>
  </INPUT><BR>

Global Tag: <input type="text" name="GlobalTag" size=20 value=""/> &nbsp &nbsp
#end def

#def ioBlock
Input Dataset: <input type="text" name="InputDataset" size=40 /><br/>

DBS: <!--input type="text" name="dbs" VALUE="http://cmsdbsprod.cern.ch/cms_dbs_prod_global/servlet/DBSServlet" size=80/><br/-->
<select name="DbsUrl">
		<option>http://cmsdbsprod.cern.ch/cms_dbs_prod_global/servlet/DBSServlet</option>
                <option>http://cmsdbsprod.cern.ch/cms_dbs_ph_analysis_01/servlet/DBSServlet</option>
                <option>http://cmsdbsprod.cern.ch/cms_dbs_ph_analysis_02/servlet/DBSServlet</option>
</select></br>
#end def

#def skimBlock($skimNum)
Skim Name: <INPUT TYPE="text", NAME="SkimName$skimNum" SIZE=20 VALUE="skim"$skimNum/>
Skim Input: <INPUT TYPE="text", NAME="SkimInput$skimNum" SIZE=20 VALUE="output"/><BR/>
Skim Config: <INPUT TYPE="text" NAME="SkimConfig$skimNum" VALUE=$defaultSkimConfig size=80/><br>
#end def

#def moreSkims($firstSkim)
<input type="hidden" value=$firstSkim id="nskims" />
<a href="javascript:;" onclick="addSkim();">Add Skim</a><br>
<div id="skimDiv"> </div>
<script>
function addSkim() {
  var ni = document.getElementById('skimDiv');
  var numi = document.getElementById('nskims');
  var num = (document.getElementById('nskims').value-1) + 2;
  numi.value = num;
  var newdiv = document.createElement('div');
  var divIdName = 'my'+num+'Div';
  newdiv.setAttribute('id',divIdName);
  newdiv.innerHTML = 'Skim Name: <INPUT TYPE="text", NAME="SkimName'+num+'" SIZE=20 VALUE="skim'+num+'"/><BR>' 
  + ' Skim Input '+num+': <INPUT TYPE="text", NAME="SkimInput'+num+'" SIZE=40 VALUE="output"/><BR/>' 
  +'Skim Config ' + num +': <INPUT TYPE="text" NAME="SkimConfig'+num+'"/> <br>'
  ni.appendChild(newdiv);
}
</script>
#end def

#def runBlockBlock
Run Whitelist (separated by commas): <input type="text" name="RunWhitelist" size=40/><br/>
Run Blacklist (separated by commas): <input type="text" name="RunBlacklist" size=40/><br/>
Block Whitelist (separated by commas): <input type="text" name="BlockWhitelist" size=40/><br/>
Block Blocklist (separated by commas): <input type="text" name="BlockBlacklist" size=40/><br/>
#end def

#def emulatorBlock
Emulator:
<SELECT NAME="Emulator">
  <OPTION>True</OPTION>
  <OPTION>False</OPTION>
</SELECT><BR>
#end def


#def trailerBlock($requestType)
    <INPUT TYPE="hidden" NAME="RequestType" VALUE=$requestType></INPUT>
     <p><input type="submit" value="Submit"/></p></form>
#end def

<DIV ID="tabby" CLASS="yui-navset">
    <UL CLASS="yui-nav">
        <LI CLASS="selected"><A HREF="#rereco"><EM>ReReco</EM></A></LI>
        <LI><A HREF="#mc"><EM>Monte Carlo</EM></A></LI>
        <LI><A HREF="#storeResults"><EM>StoreResults</EM></A></LI>
        <LI><A HREF="#kungFuBear"><EM>Kung Fu Bear</EM></A></LI>
    </UL>
    <DIV CLASS="yui-content">
        <DIV ID="rereco">
            $headerBlock
            $softwareBlock
# of Events: <input type="text" name="RequestSizeEvents" size=10 value=-1 />
# of Files: <input type="text" name="RequestSizeFiles" size=5 value=1 /><br/>
            $configBlock("inputMode", "Scenario", "ProdConfigCacheID")
            $ioBlock
            $moreSkims(0)
            $runBlockBlock
            $trailerBlock("ReReco")
        </DIV>
        <DIV ID="mc">
            $headerBlock
            $softwareBlock
# of Events: <input type="text" name="RequestSizeEvents" size=10 value=1000 />
            $emulatorBlock
            $configBlock("inputMode", "Scenario", "ProdConfigCacheID")
Primary Dataset: <input type="text" name="PrimaryDataset" size=40 /><br/>
            $trailerBlock("MonteCarlo")
        </DIV>
        <DIV ID="storeResults">
            $headerBlock
            $softwareBlock
            $ioBlock
            $trailerBlock("StoreResults")
        </DIV>
        <DIV ID="kungFuBear">
            <object width="500" height="405"><param name="movie" value="http://www.youtube.com/v/Ghgg_fukbvU&amp;hl=en_US&amp;fs=1?rel=0&amp;border=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/Ghgg_fukbvU&amp;hl=en_US&amp;fs=1?rel=0&amp;border=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="500" height="405"></embed></object>
        </DIV>
    </DIV>
</DIV>
<SCRIPT TYPE="text/javascript">
   var tabView = new YAHOO.widget.TabView('tabby');
</SCRIPT>
  
</body>
</html>

