<HTML>

<!-- Sam Skin CSS for TabView -->
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.1/build/tabview/assets/skins/sam/tabview.css">
 
<!-- JavaScript Dependencies for Tabview: -->
<script src="http://yui.yahooapis.com/2.8.1/build/yahoo-dom-event/yahoo-dom-event.js"></script>
<script src="http://yui.yahooapis.com/2.8.1/build/element/element-min.js"></script>
 
<!-- Source file for TabView -->
<script src="http://yui.yahooapis.com/2.8.1/build/tabview/tabview-min.js"></script>

<head> <title> Job request </title> </head>
<BODY CLASS="yui-skin-sam">

#def headerBlock
<form action="makeSchema" method="post">
User: $requestor&nbsp Group:

<select name="group">'
    #for $group in $groups
        <option>$group</option>
    #end for
</select></br>

Request Priority: <input type="text" name="requestPriority" size=2 value=1 /><br/>
#end def

#def softwareBlock
Software Release: <select name="cmsswVersion">
			#for $version in $versions
    				#if $version == $defaultVersion
        				<OPTION SELECTED>$version</OPTION>
    				#else
        				<OPTION>$version</OPTION>
    				#end if
			#end for
		   </SELECT>

		   <SELECT NAME="scramArch">
    			<OPTION>slc4_ia32_gcc345</OPTION>
    			<OPTION SELECTED>slc5_ia32_gcc434</OPTION>
    			<OPTION>slc5_amd64_gcc434</OPTION>
		   </SELECT><br/>

#end def 

#def configBlock
# of Events: <input type="text" name="requestSizeEvents" size=10 value=-1 />
# of Files: <input type="text" name="requestSizeFiles" size=5 value=1 /><br/>
Acquisition Era: <INPUT TYPE="text" name="acquisitionEra" SIZE=20></BR>
Configuration <BR>
  <INPUT TYPE="radio" NAME="inputMode" VALUE="scenario"> Scenario
    <select name="scenario">
      <option selected> pp
      <option> cosmics
      <option> hcalnzs
      <OPTION> preprodmc</OPTION>
      <OPTION> prodmc </OPTION>
      <OPTION> relvalmc </OPTION>
      <OPTION> relvalmcfs </OPTION>
    </select><BR>
  </INPUT>
  <INPUT TYPE="radio" NAME="inputMode" VALUE="url" CHECKED> URL
    <INPUT TYPE=TEXT" NAME="processingConfig" VALUE=$defaultProcessingConfig SIZE=80></INPUT><BR>
  </INPUT>
  <INPUT TYPE="radio" NAME="inputMode" VALUE="couchDB"> CouchDB ID
    <INPUT TYPE=TEXT" NAME="couchDBConfig" SIZE=80>
  </INPUT><BR>
  <INPUT TYPE="radio" NAME="inputMode" VALUE="cmsDriver"> Run cmsDriver
  </INPUT><BR>

Global Tag: <input type="text" name="globalTag" size=20 value=""/> &nbsp &nbsp
#end def

#def ioBlock
Input Dataset: <input type="text" name="filein" size=40 /><br/>

DBS: <!--input type="text" name="dbs" VALUE="http://cmsdbsprod.cern.ch/cms_dbs_prod_global/servlet/DBSServlet" size=80/><br/-->
<select name="dbs">
                <option>None</option>
		<option>http://cmsdbsprod.cern.ch/cms_dbs_prod_global/servlet/DBSServlet</option>
                <option>http://cmsdbsprod.cern.ch/cms_dbs_ph_analysis_01/servlet/DBSServlet</option>
                <option>http://cmsdbsprod.cern.ch/cms_dbs_ph_analysis_02/servlet/DBSServlet</option>
</select></br>
#end def

#def skimBlock($skimNum)
Skim Input: <INPUT TYPE="text", NAME="skimInput$skimNum" SIZE=40 VALUE="output"/><BR/>
Skim Config: <INPUT TYPE="text" NAME="skimConfig$skimNum" VALUE=$defaultSkimConfig size=80/><br>
#end def

#def moreSkims
<input type="hidden" value="1" id="nskims" />
<a href="javascript:;" onclick="addSkim();">Add Skim</a><br>
<div id="skimDiv"> </div>
<script>
function addSkim() {
  var ni = document.getElementById('skimDiv');
  var numi = document.getElementById('nskims');
  var num = (document.getElementById('nskims').value-1) + 2;
  numi.value = num;
  var newdiv = document.createElement('div');
  var divIdName = 'my'+num+'Div';
  newdiv.setAttribute('id',divIdName);
  newdiv.innerHTML = 'Skim Input '+num+': <INPUT TYPE="text", NAME="skimInput'+num+'" SIZE=40 VALUE="output"/><BR/>' 
  +'Skim Config ' + num +': <INPUT TYPE="text" NAME="skimConfig'+num+'"/> <br>'
  ni.appendChild(newdiv);
}
</script>
#end def

#def mergeBlock
Merged LFN Base: <SELECT name="mergedLFNBase"> VALUE="/store/data" size=40/><br/>
  <OPTION>/store/unmerged</OPTION>
  <OPTION>/store/temp</OPTION>
  <OPTION>/store/temp/WMAgent</OPTION>
</SELECT><BR>
Unmerged LFN Base: <SELECT name="unmergedLFNBase">
  <OPTION>/store/data</OPTION>
  <OPTION>/store/temp/WMAgent/merged</OPTION>
  <OPTION>/store/backfill/1</OPTION>
  <OPTION>/store/backfill/test01</OPTION>
  <OPTION>/store/backfill/2</OPTION>
</SELECT><BR>
Unmerged LFN Base: <SELECT name="unmergedLFNBase">
  <OPTION>/store/unmerged</OPTION>
  <OPTION>/store/backfill/1/unmerged</OPTION>
  <OPTION>/store/backfill/1/test01/unmerged</OPTION>
  <OPTION>/store/temp/unmerged</OPTION>
  <OPTION>/store/temp/WMAgent/unmerged</OPTION>
</SELECT><BR>

Min Merge Size <INPUT TYPE="text" name="minMergeSize" VALUE=500000000 size=10/>
Max Merge Size <INPUT TYPE="text" name="maxMergeSize" VALUE=4294967296 size=10/>
Max Merge Events <INPUT TYPE="text" name="maxMergeEvents" VALUE=50000 size=10/><br>
#end def

#def splitBlock
Job Splitting:<BR>
<INPUT TYPE="radio" NAME="splitAlgo" VALUE="FileBased" CHECKED>File Based&nbsp&nbsp&nbsp&nbsp
    Files per Job: <INPUT TYPE="text" NAME="filesPerJob" VALUE=1></INPUT>
</INPUT><BR>
<INPUT TYPE="radio" NAME="splitAlgo" VALUE="LumiBased">Lumi Based&nbsp&nbsp&nbsp&nbsp
    Lumis per Job: <INPUT TYPE="text" NAME="lumisPerJob" VALUE=1></INPUT> &nbsp&nbsp&nbsp&nbsp
    Split Files Between Job: <SELECT NAME="splitFilesBetweenJob">
        <OPTION> True </OPTION>
        <OPTION> False </OPTION>
    </SELECT>
</INPUT><BR>
<INPUT TYPE="radio" NAME="splitAlgo" VALUE="EventBased">Event Based&nbsp&nbsp&nbsp&nbsp
    Events per Job:  <INPUT TYPE="text" NAME="eventsPerJob" VALUE=1></INPUT>
</INPUT><BR>

Skim Splitting:<BR>
<INPUT TYPE="radio" NAME="skimSplitAlgo" VALUE="FileBased" CHECKED>File Based&nbsp&nbsp&nbsp&nbsp
    Files per Job: <INPUT TYPE="text" NAME="skimFilesPerJob" VALUE=1></INPUT><BR>
</INPUT>
<INPUT TYPE="radio" NAME="skimSplitAlgo" VALUE="TwoFileBased">Two File Based&nbsp&nbsp&nbsp&nbsp
    Files per Job: <INPUT TYPE="text" NAME="skimTwoFilesPerJob" VALUE=1></INPUT><BR>
</INPUT>
#end def

#def runBlockBlock
Run Whitelist (separated by commas): <input type="text" name="runWhitelist" size=40/><br/>
Run Blacklist (separated by commas): <input type="text" name="runBlacklist" size=40/><br/>
Block Whitelist (separated by commas): <input type="text" name="blockWhitelist" size=40/><br/>
Block Blocklist (separated by commas): <input type="text" name="blockBlacklist" size=40/><br/>
#end def

#def siteBlock
Site Whitelist:
<SELECT NAME="siteWhitelist" MULTIPLE SIZE=10>
   #for $site in $sites:
     <OPTION>$site</OPTION>
   #end for
</SELECT> &nbsp&nbsp&nbsp&nbsp
Site Blacklist:
<SELECT NAME="siteBlacklist" MULTIPLE SIZE=10>
   #for $site in $sites:
       <OPTION>$site</OPTION>
   #end for
</SELECT><BR/>
#end def

#def trailerBlock($requestType)
    <INPUT TYPE="hidden" NAME="requestType" VALUE=$requestType></INPUT>
     <p><input type="submit" value="Submit"/></p></form>
#end def

<DIV ID="tabby" CLASS="yui-navset">
    <UL CLASS="yui-nav">
        <LI CLASS="selected"><A HREF="#rereco"><EM>ReReco</EM></A></LI>
        <LI><A HREF="#mc"><EM>Monte Carlo</EM></A></LI>
        <LI><A HREF="#storeResults"><EM>StoreResults</EM></A></LI>
        <LI><A HREF="#kungFuBear"><EM>Kung Fu Bear</EM></A></LI>
    </UL>
    <DIV CLASS="yui-content">
        <DIV ID="rereco">
            $headerBlock
            $softwareBlock
            ProcessingVersion  <input type="text" name="processingVersion"  size=20 /><br/>
            $configBlock
            $ioBlock
            $skimBlock(1)
            $moreSkims
            $mergeBlock
            $splitBlock
            $runBlockBlock
            $trailerBlock("ReReco")
        </DIV>
        <DIV ID="mc">
            $headerBlock
            $softwareBlock
            $configBlock
            $ioBlock
            $siteBlock
            $trailerBlock("MonteCarlo")
        </DIV>
        <DIV ID="storeResults">
            $headerBlock
            $softwareBlock
            $ioBlock
            $trailerBlock("StoreResults")
        </DIV>
        <DIV ID="kungFuBear">
            <object width="500" height="405"><param name="movie" value="http://www.youtube.com/v/Ghgg_fukbvU&amp;hl=en_US&amp;fs=1?rel=0&amp;border=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/Ghgg_fukbvU&amp;hl=en_US&amp;fs=1?rel=0&amp;border=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="500" height="405"></embed></object>
        </DIV>
    </DIV>
</DIV>
<SCRIPT TYPE="text/javascript">
   var tabView = new YAHOO.widget.TabView('tabby');
</SCRIPT>
  
</body>
</html>

