tr.yellow {
    background-color: yellow;
}

tr.green {
    background-color: green;
}

div.front{
    position: absolute;
    top:  50px;
    left: 10px;
    width: 100%;
    height: 100%;
    opacity:0.7;
    background-color: gray;
    color: white;
    z-index: 1;
}

div.back{
    z-index: -1;
    display: none;
}

div middle{
    z-index: 0;
}

div.module {
  width: 90%;
  border: 2px #5f5f5f solid;
  background-color: white;
}

div.module div.caption {
  background: black url('../images/module.caption.backg.png');
  border: 1px solid black;
  padding: 0 8px;
  height: 24px;
  color: white;
  font-weight: bold;
}

div.module.rolledup div.caption {
  background: black url('../images/module.caption.backg.rolledup.png');
}

div.module div.caption span {
  float: left;
}

div.module div.caption img {
  float: right;
  cursor: pointer;
}


/*
.category-button {
  padding: 12px;
}
.category-button input[type="radio"] {
  width: 0px;
  height: 0px;
  display: none;
}

.category-button label {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  text-shadow: white;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e4e4e4));
  background: -webkit-linear-gradient(#ffffff, #e4e4e4);
  background: -moz-linear-gradient(#ffffff, #e4e4e4);
  background: -o-linear-gradient(#ffffff, #e4e4e4);
  background: -ms-linear-gradient(#ffffff, #e4e4e4);
  background: linear-gradient(#ffffff, #e4e4e4);
  border: 1px solid #b2b2b2;
  color: #666666;
  padding: 5px 24px;
  padding-bottom: 3px;
  font-size: 12px;
  cursor: pointer;
  font-family: Helvetica;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  -khtml-border-radius: 0px;
  border-radius: 0px;
  margin-right: -5px;
}
.category-button label {
  *display: inline;
}
.category-button label:hover {
  -moz-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
  color: #333333;
}
.category-button label:active, .category-button label.active {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e4e4e4), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(#e4e4e4, #ffffff);
  background: -moz-linear-gradient(#e4e4e4, #ffffff);
  background: -o-linear-gradient(#e4e4e4, #ffffff);
  background: -ms-linear-gradient(#e4e4e4, #ffffff);
  background: linear-gradient(#e4e4e4, #ffffff);
}
.category-button label:disabled, .category-button label.disabled {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #efefef));
  background: -webkit-linear-gradient(#ffffff, #efefef);
  background: -moz-linear-gradient(#ffffff, #efefef);
  background: -o-linear-gradient(#ffffff, #efefef);
  background: -ms-linear-gradient(#ffffff, #efefef);
  background: linear-gradient(#ffffff, #efefef);
  cursor: default;
  color: #b2b2b2;
  border-color: #cccccc;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

.category-button input:checked + label, .category-button label.selected {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e4e4e4), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(#e4e4e4, #ffffff);
  background: -moz-linear-gradient(#e4e4e4, #ffffff);
  background: -o-linear-gradient(#e4e4e4, #ffffff);
  background: -ms-linear-gradient(#e4e4e4, #ffffff);
  background: linear-gradient(#e4e4e4, #ffffff);
}
.category-button input:disabled + label {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #efefef));
  background: -webkit-linear-gradient(#ffffff, #efefef);
  background: -moz-linear-gradient(#ffffff, #efefef);
  background: -o-linear-gradient(#ffffff, #efefef);
  background: -ms-linear-gradient(#ffffff, #efefef);
  background: linear-gradient(#ffffff, #efefef);
  cursor: default;
  color: #b2b2b2;
  border-color: #cccccc;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
*/