.activeRequestContainer {
    width: 1200px;
    float: left;
}
.requestSummaryContainer {
    padding-top: 20px;
}

.requestSummaryLayout {
    width: 400px;
    padding-top: 100px;
    padding-left: 50px;
    float: left;

}
.requestDetailContainer {
    width: 400px;
    padding-top: 100px;
    padding-left: 50px;
    float: left;
}

.agentSummaryContainer {
    width: 800px;
}

.jobSummaryContainer {
    width: 800px;
    padding-top: 50px;
    padding-left: 50px;
    float: left;
}

.jobDetailContainer {
    width: 800px;
    padding-top: 50px;
    padding-left: 50px;
    float: left;
}