.activeRequestContainer {
    width: 60%;
    float: left;
}

.requestDetailContainer {
    width: 300px;
    margin-left: 80%;
}
.requestSummaryContainer {
    padding-top: 20px;
}

.requestSummaryLayout {
    width: 400px;
    padding-top: 50px;
    padding-left: 50px;
    float: left;

}

.agentSummaryContainer {
    width: 800px;
}

.jobSummaryContainer {
    clear: both;
    width: 30%;
    margin-top: 20px;
    float: left;
}

.jobDetailContainer {
    width: 60%;
    margin-top: 20px;
    margin-left: 40%;
}