#templates {
  display: none;
}

div.body {
  background-color: white;
  border-width: 0;
}

div.front{
    position: absolute;
    top:  35px;
    width: 100%;
    height: 100%;
    opacity:0.7;
    background-color: gray;
    color: white;
    z-index: 1;
}

div.back{
    z-index: -1;
    display: none;
}

tr.yellow {
    background-color: yellow;
}

tr.green {
    background-color: green;
}


#monitor_title { 
position: relative;
width: 100%;
height: 30px;
background: #7878FF;
}

#message_board { 
    position: relative;
    margin-top:5px;
    margin-right: 39%;
}

#agent_alert { 
    padding:5px;
    height: 60px;
    width: 47%;
    float: right;
    overflow: auto
}

#request_alert { 
    position: relative;
    padding:5px;
    width: 50%;
    height: 60px;
    margin-right: 50%;
    overflow: auto
}

#summary_board { 
    background: #b7d84b;
    float: right;
    width: 38%;
    height: 60px;
    margin-top:5px;
}

/* property for message board */
.stable, .warning, .error {
    border: 1px solid;
    opacity: 1;
    font: bold 10px verdana;
}

.stable {
    color: #4F8A10;
    background: #DFF2BF url('../css/images/badge-circle-check-16.png') no-repeat 10px center;
}
.warning {
    color: #9F6000;
    background: #FEEFB3 url('../css/images/warning-16.png') no-repeat 10px center;
}
.error {
    color: #D8000C;
    background: #FFBABA url('../css/images/badge-circle-cross-16.png') no-repeat 10px center;
}

.roundEdge {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#main_board { 
position: relative;
margin-top:10px;
background: #ffffff;
clear: both
}

#filter_board { 
    position: relative;
    background: #b7d84b;
    opacity: 1;
    font: 0.9em verdana;
    margin-top: 5px;
    padding: 5px 50px 5px 50px;
}

#status_board{ 
    position: relative;
    width: 69%;
    height: 30px;
    margin-top:5px;
    padding-top: 5px;
    opacity: 1;
    float: right;
}

#tab_board{ 
    position: relative;
    height: 30px;
    margin-top:5px;
    margin-right:70%;
}

#filter_summary{ 
    position: relative;
    height: 40px;
    font: bold 10px verdana;
    margin-top: 5px;
    }

#data_board{ 
    position: relative;
    width: 100%;
    margin-top:5px;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px
}

#category_button{ 
    position: relative;
    margin: 5px;
    padding: 5px 30px;
    /*border: 1px dotted #E0A21B;*/
    font: 0.9em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
    }

#request_view .detail_data, #category_view .detail_data{ 
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 10px 10px 30px 10px;
    width: 30%;
    font-size: 1em;
}

#request_view .summary_data, #category_view .summary_data{ 
    position: relative;
    padding: 10px 10px 30px;
    margin-right:40%;
}

#job_view .detail_data{ 
    position: relative;
    padding: 10px 10px 30px 10px;
    font-size: 1em;
}

#job_view .summary_data{ 
    position: relative;
    padding: 10px 10px 30px;
}

.tabs { position: relative; padding: .2em; zoom: 1; } /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.tabs .tabs-nav { margin: 0; padding: .2em .2em 0; }
.tabs .tabs-nav li { list-style: none; float: left; position: relative; top: 1px; margin: 0 .2em 1px 0; border-bottom: 0 !important; padding: 0; white-space: nowrap; display: inline}
.tabs .tabs-nav li a { float: left; padding: .5em 1em; text-decoration: none; display: block}
.tabs .tabs-nav li.tabs-selected { margin-bottom: 0; padding-bottom: 1px; font-weight: bold; color: #E6B517;}
.tabs .tabs-nav li.tabs-selected a, .tabs .tabs-nav li.tabs-disabled a { cursor: text; }
.tabs .tabs-nav li a, .tabs .tabs-nav li.tabs-active a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */

/*
.tabs .tabs-nav li:before {
    content: ">>";
    color: #1B28E0;
    border-bottom: 0;
    }
    
.tabs .tabs-nav li.first:before {
    content: " ";
    }
*/
div.jobDetailBox {
    font-size: 0.9em;
    background-color: #E2E3CA;
    overflow: auto;
}

.requestSummaryBox {
    height: auto;
    font-size: 1em;
    overflow: auto;
    border: 1px solid #8080FF;
    background-color: #F2F0F2;
}

.requestSummaryBox li{
    display: inline;
    padding-left: 10px;
}

.requestDetailBox {
    height: auto;
    width: 250px;
    padding: 10px;
    font-size: 1em;
    overflow: auto;
    border: 1px solid #8080FF;
    background-color: #F2F0F2;
    float: right;
}
a.requestAlert:hover {
    background-color:yellow;
    cursor: pointer;
}

.reviewed {
    background-color:white;
}