<!-- YAHOO YUI Library -->
<link rel="stylesheet" type="text/css" href="vendor/yui/build/fonts/fonts-min.css" />
<link rel="stylesheet" type="text/css" href="vendor/yui/build/paginator/assets/skins/sam/paginator.css" />
<link rel="stylesheet" type="text/css" href="vendor/yui/build/datatable/assets/skins/sam/datatable.css" />
<link rel="stylesheet" type="text/css" href="vendor/yui/build/progressbar/assets/skins/sam/progressbar.css" />
<!--
<script type="text/javascript" src="http://yui.yahooapis.com/combo?2.8.0r4/build/yahoo-dom-event/yahoo-dom-event.js&2.8.0r4/build/connection/connection-min.js&2.8.0r4/build/datasource/datasource-min.js&2.8.0r4/build/datatable/datatable-min.js&2.8.0r4/build/json/json-min.js"></script>
-->

<script src="vendor/yui/build/yahoo-dom-event/yahoo-dom-event.js"></script>
<script src="vendor/yui/build/dragdrop/dragdrop-min.js"></script>
<script src="vendor/yui/build/connection/connection-min.js"></script>
<script src="vendor/yui/build/element/element-min.js"></script>
<script src="vendor/yui/build/datasource/datasource-min.js"></script>
<script src="vendor/yui/build/datatable/datatable-min.js"></script>
<script src="vendor/yui/build/json/json-min.js"></script>
<script src="vendor/yui/build/paginator/paginator-min.js"></script>
<script src="vendor/yui/build/progressbar/progressbar-min.js"></script>
