<html>
	<head>
		<title>API</title>
		<link 
			rel="stylesheet" 
			type="text/css" 
			href="/controllers/css/reset/style"/>
	</head>
 	<body>
 		<center>
			<table width=700 cellspacing=12>
				<tr>
			    <td>
						<h1>$application API</h1><p>Auto generated API doc page</p>
		    	</td>
			  </tr>
			</table>
			<table width=700 cellspacing=12>
				<tr>
			    <td>
				    <dl>
					    #for m in $methods
					    <dt>$m: </dt>
					    <dd>
					    $methods[$m]['call'].__doc__
					    #if len($methods[$m]['args']) > 0
					    <dl>
					    <dt>Arguments:</dt>
					    <dd>
					    #for a in $methods[$m]['args']
					    <li class="flat">$a</li>
					    #end for
					    </dd>
					    </dl>
					    #end if
					    <li class="small">
					    	<a href='xml/$m'>xml</a> <a href='json/$m'>json</a> <a href='das/$m'>das</a>
					    </li>
					    </dd>
					    <hr/>
					    #end for
				    </dl>
	    	</td>
		  </tr>
		</table>
 	</body>
</html>