<html>
	<head>
		<title>Logging</title>
		<link rel="stylesheet" type="text/css" href="/controllers/css/reset/style"/>
	</head>
	<body>
		<center>
			<table width=700 cellspacing=12>
			  <tr>
			    <td>
			    	<p>Logging uses WMCore logging and writes to the CherryPy log</p>
		    	</td>
			  </tr>
			</table>
		</center>
	</body>
</html>