<html>
	<head>
		<title>$title RESTful API</title>
		<link 
			rel="stylesheet" 
			type="text/css" 
			href="/controllers/css/reset/style"/>
	</head>
 	<body>
 		<center>
			<table width=700 cellspacing=12>
				<tr>
			    <td>
						<h1>$title RESTful API</h1>
						<p>$model.__doc__</p>
						<p class="small">This is an auto generated API doc page for $title, $description</p>
		    	</td>
			  </tr>
			</table>
			<table width=700 cellspacing=12>
			  <tr>
			    <td>
			        #set methods = $model.methods
				    #try
				        #for verb in $model.methods
				        <center>
				        <h2>Methods available for $verb</h2>
				        </center>
					    #for m in $methods[$verb]
                        <dl>
					    <dt>$m: </dt>
					    <dd>
					    $methods[$verb][$m]['call'].__doc__
					    <p class="small">
					    #if 'args' in $methods[$verb][$m].keys
					    Takes the following arguments:
					    #set i = 1
					    #for a in $methods[$verb][$m]['args']
					    #if $i == len($methods[$verb][$m]['args'])
					    <b>$a</b>
					    #else
					    <b>$a</b>, 
					    #end if
					    #end for
					    <br/>
					    #end if
					        #if 'version' in $methods[$verb][$m].keys					    
                            Version $methods[$verb][$m]['version'] | 
					    	#end if
					    	available as 
                            #for t in $types
                                <b>$t</b>
                            #end for
					    </p>
					    </dd>
        				</dl>
					    <center><hr/></center>
                        #end for
                        #end for
					    #except
					    <p>No API calls available, make sure you update self.methods() 
					    with your API calls. <b>TODO: More documentation here</b>.</p>
					#end try
	    	      </td>
		      </tr>
		  </table>
        </center>
 	</body>
</html>