<html>
	<head>
		<title>Logging</title>
		<link rel="stylesheet" type="text/css" href="/controllers/css/reset/style"/>
	</head>
	<body>
		<center>
			<table width=700 cellspacing=12>
			  <tr>
			    <td>
			    	<p>WebTools provides a REST interface by subclassing and extending 
			    	the WebAPI class. </p>
			    	<p><b>More Soon</b></p>
		    	</td>
			    <td>
			    	<p>What is REST?</p>
			    	<p><a href="http://en.wikipedia.org/wiki/Representational_State_Transfer">Read wikipedia</a></p>
		    	</td>
			  </tr>
			</table>
		</center>
	</body>
</html>