<html>
	<head>
		<title>$title RESTful API</title>
		<link 
			rel="stylesheet" 
			type="text/css" 
			href="/controllers/css/reset/style"/>
	</head>
 	<body>
 		<center>
			<table width=700 cellspacing=12>
				<tr>
			    <td>
						<h1>$title RESTful API</h1>
						<p>Auto generated API doc page for $title, $description</p>
		    	</td>
			  </tr>
			</table>
			<table width=700 cellspacing=12>
			  <tr>
			    <td>
				  <dl>
				    #try
				        #for verb in $methods
				        <h2>Methods available for $verb</h2>
					    #for m in $methods[$verb]
					    <dt>$m: </dt>
					    <dd>
					    $methods[$verb][$m]['call'].__doc__
					    #if 'args' in $methods[$verb][$m].keys
					    <p>Arguments:</p>
					    #for a in $methods[$verb][$m]['args']
					    <li class="flat">$a</li>
					    #end for
					    #end if
					    <p class="small">
                            #if 'version' in $methods[$verb][$m].keys					    
                            version $methods[$verb][$m]['version'] | 
					    	#end if
					    	available as 
                            #for t in $types
                                <b>$t</b>
                            #end for
					    </p>
					    </dd>
					    <hr/>
                        #end for
                        #end for
					    #except
					    <p>No API calls available, make sure you update self.methods() 
					    with your API calls. <b>TODO: More documentation here</b>.</p>
					#end try
				  </dl>
	    	      </td>
		      </tr>
		  </table>
        </center>
 	</body>
</html>