<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title> {{request}} : Workflow Summary</title>
<!--YUI Library -->
{{>yui-lib}}

<!-- WorkQueue library -->
{{>workqueue-common-lib}}

<script src="js/WorkloadInfoTable.js"></script>

</head>
<body class="yui-skin-sam">
<h3> Workflow Summary for {{request}} </h3>
<div id="workflow"></div>
<script>

var oArgs = {};
oArgs.divID = "workflow";
oArgs.workflow = "{{{request}}}";

WQ.WorkloadInfoTable.workloadTable(oArgs);

</script>
</body>
</html>
