body
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-image:url('gradientfromtop.gif');
	background-repeat:repeat-x;
} 


td, th 
{	
	font-family: Verdana, Arial, Helvetica, sans-serif;
}


a, a:visited
{
	color: #000000;
	border-bottom: 1px dotted #000000;
	text-decoration: none;
}


a:hover, a:visited:hover 
{
	color: #CC3300;
	border-bottom: 1px dotted #000000;
	text-decoration: none;
}


.template
{
	width: 1100px;
	text-align: left;
}


.requestdetailstitle
{
	font-size: 90%;
	font-weight: bold;
}


#sitetitle 
{
	font-size: 150%;
	color: #333333;
	font-weight: bold; 
    letter-spacing: 1px;
    margin-left: 280px;
    text-align: left;
    position: absolute;
    display: block;
    top: 30px;
    height: 30px;
}


#maincontentdivid 
{
	display: block;
	position: absolute;
	top: 110px;
	width: 950px;
	margin-left: 280px;
	padding-bottom: 30px;
}


#pagetitle 
{
	font-size: 130%;
	font-weight: bold;
	font-style: normal;
	color: #333333; 
	padding-bottom: 20px;
}


#navigation
{
	text-align: right;
	position: absolute;
	display: block;
	top: 190px;
	width: 150px;
	height: 350px;
	padding: 0px 5px 10px 5px;
	margin-left: 60px;
}


#navigation p
{
	padding-bottom: 0px;
}


#navigation a, #navigation a:visited 
{
	color: #000000;
	font-weight: normal;
	font-size: 100%;
	text-decoration: none;
}


#navigation a:hover, #navigation a:visited:hover 
{
	color: #CC3300;
	border-bottom: 1px dotted #000000;
}