<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>Status Example</title>

<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.0r4/build/fonts/fonts-min.css" />
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.0r4/build/datatable/assets/skins/sam/datatable.css" />
<script type="text/javascript" src="http://yui.yahooapis.com/2.8.0r4/build/yahoo-dom-event/yahoo-dom-event.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.8.0r4/build/dragdrop/dragdrop-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.8.0r4/build/element/element-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.8.0r4/build/datasource/datasource-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.8.0r4/build/datatable/datatable-min.js"></script>

<script  type="text/javascript" src="nameSpace.js"></script>
<script type="text/javascript" src="dataTable.js"></script>
</head>
<body class="yui-skin-sam">
<div id="statusTable"></div>
<script type="text/javascript">
if (typeof WebTools == "undefined" || !WebTools) {
    var WebTools = {};
}

WebTools.createDataSource = function (dataUrl, dataSchema) {
    
    var myDataSource = new YAHOO.util.DataSource(dataUrl);
    //var myDataSource = new YAHOO.util.XHRDataSource(dataUrl);
    //var myDataSource = YAHOO.util.ScriptNodeDataSource(dataUrl);
    myDataSource.responseType = YAHOO.util.DataSource.TYPE_JSARRAY;
    //myDataSource.responseType = YAHOO.util.DataSource.TYPE_JSON;
    myDataSource.responseSchema = dataSchema
    
    return myDataSource
}

WebTools.createDataTable = function (container, dataSource, columnDefs, pollingCycle) {
     
    myColumnDefs = columnDefs

    var myDataTable = new YAHOO.widget.DataTable(container,
            myColumnDefs, dataSource, {caption:"Status table Test"});
    
     // Set up polling
    var myCallback = {
         success: myDataTable.onDataReturnInitializeTable,
         failure: function() {
                YAHOO.log("Polling failure", "error");
            },
         scope: myDataTable
    }
    
    dataSource.setInterval(pollingCycle, null, myCallback)
     
    return myDataTable
}


var data = [{'Status': 'Acquired', 'ChildQueueUrl': 'http://cmssrv52.fnal.gov:9997/workqueue'},
            {'Status': 'Available', 'ChildQueueUrl': 'http://cmssrv52.fnal.gov:9997/workqueue'}];

var formatUrl = function(elCell, oRecord, oColumn, sData) { 
                elCell.innerHTML = "<a href='" + oRecord.getData("ChildQueueUrl") + "' target='_blank'>" + sData + "</a>"; 
            };
var dataSchema = {
        fields: [{key: "Status", sortable:true}, {key: "ChildQueueUrl", label: "Child Queue Url", sortable:true, formatter:formatUrl}]
        };
        
//var data = "/workqueue/status"
var dataSource = WebTools.createDataSource(data, dataSchema)                       
var dataTable = WebTools.createDataTable("statusTable", dataSource, dataSchema.fields, 10)
</script>
</body>
</html>