{
"RequestString":"",
"PrepID":"",
"User":$user,
"Group":$groups,
"RequestPriority":1,
"CMSSWVersion":$releases,
"ScramArch": $arch,
"IncludeParents": [true, false],
"Campaign":"",
"MultiCore":"",
"Scenario":$scenarios,
"GlobalTag":"",
"EnableHarvesting": false,
"DQMConfigCacheID":"",
"DQMSequences":"",
"DQMUploadURL":$dqm_urls,
"InputDataset":"",
"OpenRunningTimeout":0,
"DBS":$dbs_urls,
"RunWhitelist":"",
"RunBlacklist":"",
"BlockWhitelist":"",
"BlockBlacklist":"",
"TimePerEvent":12,
"Memory":2300,
"SizePerEvent": 512,
"RequestType": "DataProcessing"
}

