{
"RequestString":"REPLACE-REQUEST",
"PrepID":"REPLACE-PREPID",
"Requestor":$user,
"RequestorDN":$dn,
"Group":$groups,
"RequestPriority":1,
"CMSSWVersion":$releases,
"ScramArch": $arch,
"IncludeParents": [true, false],
"Campaign":"",
"MultiCore":"",
"Scenario":$scenarios,
"GlobalTag":"REPLACE-TAG",
"EnableHarvesting": false,
"DQMConfigCacheID":"",
"DQMSequences":"",
"DQMUploadURL":$dqm_urls,
"InputDataset":"REPLACE-/A/B/C",
"OpenRunningTimeout":0,
"DbsUrl":$dbs_url,
"CouchDBName":$couch_dbname,
"CouchURL":$couch_url,
"CouchWorkloadDBName":$couch_wdbname,
"RunWhitelist":[],
"RunBlacklist":[],
"BlockWhitelist":[],
"BlockBlacklist":[],
"TimePerEvent":12.0,
"Memory":2300.0,
"SizePerEvent": 512.0,
"RequestType": "DataProcessing"
}

