{
"RequestString":"",
"PrepID":"",
"User":$user,
"Group":$groups,
"RequestPriority":1,
"CMSSWVersion":$releases,
"ScramArch": $arch,
"RequestNumEvents": 1000,
"FilterEfficiency": 1.0,
"TotalTime": 32400,
"TimePerEvent":12,
"Memory":2300,
"SizePerEvent": 512,
"FirstEvent": 1,
"Scenario":$scenarios,
"GlobalTag":"",
"PrimaryDataset":"",
"DataPileup":"",
"MCPileup":"",
"RequestType": "MonteCarlo"
}

