{
"RequestString":"REPLACE-REQUEST",
"PrepID":"REPLACE-PREPID",
"Requestor":$user,
"RequestorDN":$dn,
"Group":$groups,
"RequestPriority":1,
"CMSSWVersion":$releases,
"ScramArch": $arch,
"RequestNumEvents": 1000,
"FilterEfficiency": 1.0,
"TotalTime": 32400,
"TimePerEvent":12.0,
"Memory":2300.0,
"SizePerEvent": 512.0,
"FirstEvent": 1,
"ConfigCacheUrl":$cc_url,
"ConfigCacheID":$cc_id,
"CouchDBName":$couch_dbname,
"CouchURL":$couch_url,
"CouchWorkloadDBName":$couch_wdbname,
"Scenario":$scenarios,
"GlobalTag":"REPLACE-TAG",
"PrimaryDataset":"REPLACE-ABC",
"DataPileup":"",
"MCPileup":"",
"RequestType": "MonteCarlo"
}

