{
"RequestString":"REPLACE-REQUEST",
"PrepID":"REPLACE-PREPID",
"Requestor":$user,
"RequestorDN":$dn,
"Group":$groups,
"RequestPriority":1,
"CMSSWVersion":$releases,
"ScramArch": $arch,
"IncludeParents": [true, false],
"Campaign":"REPLACE-CAMPAING",
"InputDataset":"REPLACE-/A/B/C",
"OpenRunningTimeout":0,
"DbsUrl":$dbs_url,
"EnableHarvesting": false,
"DQMConfigCacheID":"",
"DQMSequences":"",
"DQMUploadURL":$dqm_urls,
"StepOneConfigCacheID":"REPLACE-CACHEID",
"StepOneOutputModuleName":"",
"StepTwoConfigCacheID":"",
"StepTwoOutputModuleName":"",
"StepThreeConfigCacheID":"",
"KeepStepOneOutput": [true, false],
"KeepStepTwoOutput": [true, false],
"GlobalTag":"REPLACE-TAG",
"DataPileup":"",
"MCPileup":"",
"RunWhitelist":[],
"RunBlacklist":[],
"BlockWhitelist":[],
"BlockBlacklist":[],
"TimePerEvent":12.0,
"Memory":2300.0,
"SizePerEvent": 512.0,
"CouchDBName":$couch_dbname,
"CouchURL":$couch_url,
"CouchWorkloadDBName":$couch_wdbname,
"RequestType": "DataProcessing"
}

