{
"RequestString":"",
"PrepID":"",
"User":$user,
"Group":$groups,
"RequestPriority":1,
"CMSSWVersion":$releases,
"ScramArch": $arch,
"IncludeParents": [true, false],
"Campaign":"",
"InputDataset":"",
"OpenRunningTimeout":0,
"DBS":$dbs_urls,
"EnableHarvesting": false,
"DQMConfigCacheID":"",
"DQMSequences":"",
"DQMUploadURL":$dqm_urls,
"StepOneConfigCacheID":"",
"StepOneOutputModuleName":"",
"StepTwoConfigCacheID":"",
"StepTwoOutputModuleName":"",
"StepThreeConfigCacheID":"",
"KeepStepOneOutput": [true, false],
"KeepStepTwoOutput": [true, false],
"GlobalTag":"",
"DataPileup":"",
"MCPileup":"",
"RunWhitelist":"",
"RunBlacklist":"",
"BlockWhitelist":"",
"BlockBlacklist":"",
"TimePerEvent":12,
"Memory":2300,
"SizePerEvent": 512,
"RequestType": "DataProcessing"
}

