{
"RequestString":"REPLACE-REQUEST",
"PrepID":"REPLACE-PREPID",
"Requestor":$user,
"RequestorDN":$dn,
"Group":$groups,
"RequestPriority":1,
"CMSSWVersion":$releases,
"ScramArch": $arch,
"IncludeParents": [true, false],
"Campaign": "REPLACE-CAMPAING",
"Scenario":$scenarios,
"GlobalTag":"REPLACE-TAG",
"EnableHarvesting": false,
"DQMConfigCacheID":"",
"DQMSequences":"",
"DQMUploadURL":$dqm_urls,
"InputDataset":"REPLACE-/A/B/C",
"OpenRunningTimeout":0,
"DbsUrl":$dbs_url,
"RunWhitelist":[],
"RunBlacklist":[],
"BlockWhitelist":[],
"BlockBlacklist":[],
"FilterEfficiency": 1,
"ConfigCacheUrl":$cc_url,
"ConfigCacheID":$cc_id,
"CouchDBName":$couch_dbname,
"CouchURL":$couch_url,
"CouchWorkloadDBName":$couch_wdbname,
"SplittingAlgo": "LumiBased",
"LumisPerJob": 8,
"inputMode": "couchDB",
"TimePerEvent":12.0,
"Memory":2300.0,
"SizePerEvent": 512.0,
"RequestType": "ReReco"
}
