{
"RequestString":"",
"PrepID":"",
"User":$user,
"Group":$groups,
"RequestPriority":1,
"CMSSWVersion":$releases,
"ScramArch": $arch,
"IncludeParents": [true, false],
"Campaign": "",
"Scenario":$scenarios,
"GlobalTag":"",
"EnableHarvesting": false,
"DQMConfigCacheID":"",
"DQMSequences":"",
"DQMUploadURL":$dqm_urls,
"InputDataset":"",
"OpenRunningTimeout":0,
"DbsUrl":"$dbs_url",
"RunWhitelist":[],
"RunBlacklist":[],
"BlockWhitelist":[],
"BlockBlacklist":[],
"FilterEfficiency": 1,
"ConfigCacheUrl":"$cc_url",
"ConfigCacheID":"$cc_id",
"SplittingAlgo": "LumiBased",
"LumisPerJob": 8,
"inputMode": "couchDB",
"TimePerEvent":12,
"Memory":2300,
"SizePerEvent": 512,
"RequestType": "ReReco"
}
