{
"RequestName":"REPLACE-REQUEST",
"PrepID":"REPLACE-PREPID",
"Requestor":$user,
"RequestorDN":$dn,
"Group":$groups,
"RequestPriority":1,
"OriginalRequestName": "",
"InitialTaskPath":"",
"ACDCServer":"",
"ACDCDatabase":"",
"IgnoredOutputModules": "",
"CollectionName":"",
"TimePerEvent":12.0,
"Memory":2300.0,
"SizePerEvent": 512.0,
"ACDCDatabase": $acdc_dbname,
"ACDCServer": $acdc_url,
"InitialTaskPath": "REPLACE-PATH",
"RequestType": "Resubmission"
}

