{
"RequestString":"",
"PrepID":"",
"User":$user,
"Group":$groups,
"RequestPriority":1,
"OriginalRequestName": "",
"InitialTaskPath":"",
"ACDCServer":"",
"ACDCDatabase":"",
"IgnoredOutputModules": "",
"CollectionName":"",
"TimePerEvent":12,
"Memory":2300,
"SizePerEvent": 512,
"RequestType": "Resubmission"
}

