{
"RequestString":"",
"PrepID":"",
"User":$user,
"Group":$groups,
"RequestPriority":1,
"AcquisitionEra":"",
"ProcessingVersion":"",
"GlobalTag":"",
"CmsPath":"",
"CMSSWVersion":$releases,
"ScramArch": $arch,
"InputDataset":"",
"OpenRunningTimeout":"",
"DbsUrl":"$dbs_url",
"TimePerEvent":12,
"Memory":2300,
"SizePerEvent": 512,
"RequestType": "StoreResults"
}

