{
"RequestString":"REPLACE-REQUEST",
"PrepID":"REPLACE-PREPID",
"Requestor":$user,
"RequestorDN":$dn,
"Group":$groups,
"RequestPriority":1,
"AcquisitionEra":"",
"ProcessingVersion":"",
"GlobalTag":"REPLACE-TAG",
"CmsPath":"REPLACE-PATH",
"CMSSWVersion":$releases,
"ScramArch": $arch,
"InputDataset":"REPLACE-/A/B/C",
"OpenRunningTimeout":"",
"DbsUrl":$dbs_url,
"TimePerEvent":12.0,
"Memory":2300.0,
"SizePerEvent": 512.0,
"CouchURL":$couch_url,
"CouchWorkloadDBName":$couch_wdbname,
"RequestType": "StoreResults"
}

