<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="../../style/main.css" type="text/css"/>
    <link rel="alternate" type="application/atom+xml" 
        title="Atom Feed" href="{{feedPath}}"/>
  </head>
  <body>
      <!-- {{>header}} -->
      <div>
        <center>
            <h2>{{title}}</h2>
        </center>
    </div>

    <div id="content">
      <h3>recent alerts</h3>
      <div>
          <table border=0 align=center cellspacing=20>
              <tr>
                  <th>Timestamp</th><th>Component</th><th>Source</th>
              </tr>
              {{#alerts}}
              <tr>
                  <td>{{Timestamp}}</td>
                  <td>aa</td>
                  <td>bb</td>
              </tr>
            {{/alerts}}
        </table>
      </div>
</body>
</html>
