<html>
<head><title>Acknowledgement</title>
<body>
The following requests have been <b>$participle</b>:<br>
<ul>
#for $request in $requests
<li><a href=/reqmgr/view/details/$request>$request</a></li>
#end for
</ul>
<br>
<br>
Navigate to:

<ul>
<li><a href="/reqmgr/approve/">ReqMgr Approval</a></li>
<li><a href="/reqmgr/assign/">ReqMgr Assignment</a></li>
<li><a href="/reqmgr/RequestOverview/">Request Overview</a></li>
</ul>
</body>
</html>


