<html>
<head><title>Acknowledgement</title>
<body>
The following requests have been <b>$participle</b>:<br>
<ul>
#for $request in $requests
<li><a href=details/$request>$request</a></li>
#end for
</ul>
<br>
<br>
Navigate to:

<ul>
<li><a href=approval>ReqMgr Approval</a></li>
<li><a href=assign>ReqMgr Assignment</a></li>
<li><a href=../RequestOverview>Request Overview</a></li>
</ul>
</body>
</html>


