<html>
<head><title>Acknowledgement</title>
<body>
The following requests have been announced:<br>
<ul>
#for $request in $requests
<li><a href=/reqmgr/view/details/$request>$request</a></li>
#end for
</ul>
<br>
#if $goodDatasets
The following datasets have been declared VALID to DBS:
#for $dataset in $goodDatasets
$dataset
#end for
#end if
<br>
#if $badDatasets
The following datasets failed to be updated in DBS:
#for $dataset in $badDatasets
$dataset
#end for
#end if
<br/><br/>
Navigate to:

<ul>
<li><a href="/reqmgr/approve/">ReqMgr Approval</a></li>
<li><a href="/reqmgr/assign/">ReqMgr Assignment</a></li>
</ul>
</body>
</html>


