<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title> Request Assignment </title>

<!-- Hokey way to keep ENTER from submitting the form.  Ticket #401 -->
<script type="text/javascript">
function stopRKey(evt) {
  var evt = (evt) ? evt : ((event) ? event : null);
  var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null);
  if ((evt.keyCode == 13) && (node.type=="text"))  {return false;}
}
document.onkeypress = stopRKey;
</script>
<style type="text/css">
table {
border-width: 1px;
border-spacing: 0px;
border-style: none;
border-color: gray;
border-collapse: separate;
background-color: white;
}
table th {
border-width: 1px;
padding: 5px;
border-style: solid;
border-color: black;
background-color: #3366FF;
font-family: Arial;
}
table td {
border-width: 1px;
padding: 5px;
border-style: solid;
border-color: black;
background-color: white;
font-family: Arial;
}
</style>
<script type="text/javascript">
function checkAll( el, tick ) {
  var els = el.form.elements;
  var x, i = els.length;
  while ( i-- ) {
    x = els[i];
    if ( 'input' == x.nodeName.toLowerCase() &&
         'checkbox' == x.type ) {
      x.checked = tick;
    }
  }
}
</script>
</head>
<body>
<h2>Assign Request</h2>
<form action="/reqmgr/assign/handleAssignmentPage" method="POST">
<h4>Assign request to teams</h4>
#for $team in $teams:
    #if $team in $assignments:
        <input type="checkbox" name="Team$team" CHECKED/>$team<br/> 
    #else
        <input type="checkbox" name="Team$team"/>$team<br/>
    #end if
#end for

<h4> Site White/Black Lists </h4>
Site Whitelist:
<select name="SiteWhitelist" multiple size=10>
   #for $site in $sites:
     <option>$site</option>
   #end for
</select> &nbsp&nbsp&nbsp&nbsp
Site Blacklist:
<select name="SiteBlacklist" multiple size=10>
   #for $site in $sites:
       <option>$site</option>
   #end for
</select></br>
<input type="checkbox" name="useSiteListAsLocation"/>Use site whitelist/blacklist for data location (allows use of xrootd capabilities)<br/>
<h4> PhEDEx Subscriptions </h4>
Custodial Sites:
<select name="CustodialSites" multiple size=10>
   #for $site in $sites:
     <option>$site</option>
   #end for
</select> &nbsp&nbsp&nbsp&nbsp
Non-Custodial Sites:
<select name="NonCustodialSites" multiple size=10>
   #for $site in $sites:
       <option>$site</option>
   #end for
</select><br/>
Auto Approve Non-Custodial:
<input type="checkbox" name="AutoApprove"/>
Priority:
<select name="Priority">
<option selected>Low</option>
<option>Normal</option>
<option>High</option>
</select>
<h4>LFN Bases</h4>
#def optionsMenu($allOptions, $default)
  #for $option in $allOptions
    #set $selected = ""
    #if $option == $default
      #set $selected = "selected"
    #end if
    <option $selected>$option</option>
  #end for
#end def
Merged LFN Base: 
<select name="MergedLFNBase">
$optionsMenu($mergedLFNBases, $reqMergedBase)
</select><br/>
Unmerged LFN Base: 
<select name="UnmergedLFNBase">
$optionsMenu($unmergedLFNBases, $reqUnmergedBase)
</select>

<div id="otherOptions">
<h4>Other Options</h4>
Min Merge Size <input type="text" name="MinMergeSize" value=2147483648 size=10/>
Max Merge Size <input type="text" name="MaxMergeSize" value=4294967296 size=10/>
Max Merge Events <input type="text" name="MaxMergeEvents" value=50000 size=10/><br/>
Memory limits: RSS (KiBytes) <input type="text" name="maxRSS" value=2411724 size=10/>
VSS (KiBytes)<input type="text" name="maxVSize" value=2411724 size=10/><br/>
Wallclock limits: Timeout (Seconds) <input type="text" name="SoftTimeout" value=167000 size=10/>
GracePeriod (Seconds)<input type="text" name="GracePeriod" value=300 size=10/><br/>

Acquisition Era: <input type="text" name="AcquisitionEra" size=20 value="$acqEra" /><br/>
ProcessingVersion  <input type="text" name="ProcessingVersion"  size=20 value="$procVer" /><br/>
Dashboard Activity: 
<select name="dashboard">
#set $dashboards = ["reprocessing", "production", "relval", "integration", "test", "analysis"]
$optionsMenu($dashboards, $dashboardActivity)  
</select>
</div>
<br/>

<div id="actions">
Actions:<select name="action">
  <option>Assign</option>
  <option>Reject</option>
</select>
<input type="submit"/>
</div>
<br/>

<div id="requests">
<input type="button" value="Select All" onclick="checkAll(this, true)"/>
<input type="button" value="Select None" onclick="checkAll(this, false)"/>
<table>
<tr>
<th>Select</th>
<th>Name</th>
<th>Type</th>
<th>Priority</th>
<th>Input</th>
<th>Splitting and Timeouts</th>
</tr>

#set $checked = ''
#if len($requests) == 1 or $all
  #set $checked = 'CHECKED'
#end if

#for $request in $requests
#set $requestName = $request['RequestName']
<tr>
<td align=center><input type="checkbox" $checked name = "checkbox$requestName"/></td> 
<td align=center><a href="/reqmgr/view/details/$requestName">$requestName</a></td>
<td align=center>$request['RequestType']</td>
<td align=center>$request['PriorityMenu']</td>
<td align=center>$request['Input']</td>
<td align=center><a href="/reqmgr/view/splitting/$requestName">parameters</a></td>
</tr>
#end for

</table>
</div>

<div id="badrequests">
#if $badRequests
  <b>Could not find the workload for the following requests</b>:<br/>
  #for $request in $badRequests
     $request<br/>
  #end for
#end if
</form>
</body>
</html>

