<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<head>
<title> Request Assignment </title>
<!-- Hokey way to keep ENTER from submitting the form.  Ticket #401 -->
<script type="text/javascript">

function stopRKey(evt) {
  var evt = (evt) ? evt : ((event) ? event : null);
  var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null);
  if ((evt.keyCode == 13) && (node.type=="text"))  {return false;}
}

document.onkeypress = stopRKey;

</script>
</head>

<h2> Request $requestName </h2>
## pass the request name along silently
<form action="handleAssignmentPage" method="POST">
<input type="HIDDEN" name="RequestName" value="$requestName">
<h4>Assign request to teams</h4>
#for $team in $teams:
    #if $team in $assignments:
        <input type="checkbox" name="Team$team" CHECKED>$team</input><br/> 
    #else
        <input type="checkbox" name="Team$team">$team</input><br/>
    #end if
#end for

<h4> Site White/Black Lists </h4>
Site Whitelist:
<select name="SiteWhitelist" multiple size=10>
   #for $site in $sites:
     <option>$site</option>
   #end for
</select> &nbsp&nbsp&nbsp&nbsp
Site Blacklist:
<select name="SiteBlacklist" multiple size=10>
   #for $site in $sites:
       <option>$site</option>
   #end for
</select>
<h4>LFN Bases</h4>
Merged LFN Base: <select name="MergedLFNBase">
  #for $mergedLFNBase in $mergedLFNBases
    <option>$mergedLFNBase</option>
  #end for
</select><br/>
Unmerged LFN Base: <select name="UnmergedLFNBase">
  <option>/store/unmerged</option>
  <option>/store/backfill/1/unmerged</option>
  <option>/store/backfill/1/test01/unmerged</option>
  <option>/store/temp/unmerged</option>
  <option>/store/temp/WMAgent/unmerged</option>
  <option>/store/unmerged/lustre</option>
</select>

<h4>Other Options</h4>
Min Merge Size <input type="text" name="MinMergeSize" value=500000000 size=10/>
Max Merge Size <input type="text" name="MaxMergeSize" value=4294967296 size=10/>
Max Merge Events <input type="text" name="MaxMergeEvents" value=50000 size=10/><br/>

Acquisition Era: <input type="text" name="AcquisitionEra" size=20></BR>
ProcessingVersion  <input type="text" name="ProcessingVersion"  size=20 /><br/>

<br/>
<input type="submit"/>
</form>

