<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title> Request Assignment </title>

<!-- Hokey way to keep ENTER from submitting the form.  Ticket #401 -->
<script type="text/javascript">
function stopRKey(evt) {
  var evt = (evt) ? evt : ((event) ? event : null);
  var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null);
  if ((evt.keyCode == 13) && (node.type=="text"))  {return false;}
}
document.onkeypress = stopRKey;
</script>
<style type="text/css">
table {
border-width: 1px;
border-spacing: 0px;
border-style: none;
border-color: gray;
border-collapse: separate;
background-color: white;
}
table th {
border-width: 1px;
padding: 5px;
border-style: solid;
border-color: black;
background-color: #3366FF;
font-family: Arial;
}
table td {
border-width: 1px;
padding: 5px;
border-style: solid;
border-color: black;
background-color: white;
font-family: Arial;
}
</style>
</head>
<body>
<h2>Assign Request</h2>
<form action="/reqmgr/assign/handleAssignmentPage" method="POST">
<h4>Assign request to teams</h4>
#for $team in $teams:
    #if $team in $assignments:
        <input type="checkbox" name="Team$team" CHECKED/>$team<br/> 
    #else
        <input type="checkbox" name="Team$team"/>$team<br/>
    #end if
#end for

<h4> Site White/Black Lists </h4>
Site Whitelist:
<select name="SiteWhitelist" multiple size=10>
   #for $site in $sites:
     <option>$site</option>
   #end for
</select> &nbsp&nbsp&nbsp&nbsp
Site Blacklist:
<select name="SiteBlacklist" multiple size=10>
   #for $site in $sites:
       <option>$site</option>
   #end for
</select>
<h4>LFN Bases</h4>
Merged LFN Base: <select name="MergedLFNBase">
  #for $mergedLFNBase in $mergedLFNBases
    $mergedLFNBase
  #end for
</select><br/>
Unmerged LFN Base: <select name="UnmergedLFNBase">
  #for $unmergedLFNBase in $unmergedLFNBases
    $unmergedLFNBase
  #end for
</select>

<div id="otherOptions">
<h4>Other Options</h4>
Min Merge Size <input type="text" name="MinMergeSize" value=500000000 size=10/>
Max Merge Size <input type="text" name="MaxMergeSize" value=4294967296 size=10/>
Max Merge Events <input type="text" name="MaxMergeEvents" value=50000 size=10/><br/>

Acquisition Era: <input type="text" name="AcquisitionEra" size=20 value="$acqEra" /><br/>
ProcessingVersion  <input type="text" name="ProcessingVersion"  size=20 value="$procVer" /><br/>
</div>
<br/>

<div id="actions">
<a href='./?all=1'>Select All</a><br/>
Actions:<select name="action">
  <option>Assign</option>
  <option>Reject</option>
</select>
<input type="submit"/>
</div>
<br/>

<div id="requests">
<table>
<tr>
<th>Select</th>
<th>Name</th>
<th>Type</th>
<th>Priority</th>
<th>Input</th>
<th>Splitting and Timeouts</th>
</tr>

#set $checked = ''
#if len($requests) == 1 or $all
  #set $checked = 'CHECKED'
#end if

#for $request in $requests
#set $requestName = $request['RequestName']
<tr>
<td align=center><input type="checkbox" $checked name = "checkbox$requestName"/></td> 
<td align=center><a href="../view/details/$requestName">$requestName</a></td>
<td align=center>$request['RequestType']</td>
<td align=center>$request['PriorityMenu']</td>
<td align=center>$request['Input']</td>
<td align=center><a href="../view/splitting/$requestName">parameters</a></td>
</tr>
#end for

</table>
</div>

</form>
</body>
</html>

