<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<head><title>Groups</title></head>

<body>

<form action="handleAddGroup">
<b>Add Group:</b><input type="text" name="group" size=20/>
<input type=submit><br>
</form>

#for $group in $groups
  <a href="../group/$group">$group</a><br/>
#end for

</body>

