#from WMCore.HTTPFrontEnd.RequestManager.ReqMgrWebTools import quote
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta HTTP-equiv="Pragma" content="no-cache">
<title>Request Details For $requestSchema['RequestName']</title>
</head>

<body>
#if $docId != None
<b> Configuration </b><br>
<a href="../showOriginalConfig/$requestName">Original Config</a> &nbsp&nbsp&nbsp
<a href="../showTweakFile/$requestName">TweakFile</a><br><br>
#end if

#def $textarea($name, $value)
    <td><textarea name=$name rows="2" cols="80">$value</textarea></td></tr>
#end def

<div id="values">
<form action="../modifyWorkload" method="POST">
<hr><table>
#for $key in $detailsFields
    #if $key in $requestSchema
        #set $value = $quote($requestSchema[$key])
        ## make a hyperlink to workflow
        #if $key == 'RequestWorkflow'
            <input type="HIDDEN" name="workload" value=$value>
        #elif $key == 'RequestName'
            <tr><td> RequestWorkflow </td><td>  <a href="../showWorkload?requestName=$value">Workload</a> </td></tr>
            <tr><td> $key </td><td> $value </td></tr>
            <input type="HIDDEN" name="requestName" value=$value>
        #elif $key == 'RunWhitelist'
            <tr><td> $key </td> $textarea("runWhitelist", $value)
        #elif $key == 'RunBlacklist'
            <tr><td> $key </td> $textarea("runBlacklist", $value)
        #elif $key == 'BlockWhitelist'
            <tr><td> $key </td> $textarea("blockWhitelist", $value)
        #elif $key == 'BlockBlacklist'
            <tr><td> $key </td> $textarea("blockBlacklist", $value)
        #else
            <tr><td> $quote($key) </td><td> $value </td></tr>
        #end if
    #end if
#end for
</table>
<input TYPE=submit value="Modify" />
</form>
</div>
<hr>

<div id="assignments">
<b>Assignments</b><br>
<table>
#if $assignments != None:
#for $assignment in $assignments
     <tr><td>TeamName</td><td> $assignment</td></tr>
#end for
#end if
</table>

<form action="../doAdmin" method="POST">
Change the assignment or priority:<br/>
$adminHtml
<input type=submit />
</form>
</div>

<hr>
<div id="splitting">
<form action="../splitting/$requestName" method="POST">
<input type=submit value="Set Job Splitting and Task Timeout Parameters"/>
</form>
</div>
<hr>
<div id="messages">
<b>Messages:</b><br>
#if $messages != None
#for $message in $messages:
    $quote($message[0])<br>
#end for
#end if
## Updates
</div>
<hr>
<table>
#if $updateDictList != None
#for $updateDict in $updateDictList
    #for $key in $updateDict
        <tr><td>$quote($key)</td><td>$quote($updateDict[$key])</td></tr>
    #end for
#end for
#end if
</table>
<br/><a href="..">Back</a><br/>
</body>
</html>

