<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<head><title>Users</title></head>

<body>

<div id="addUser">
<form action="handleAddUser">
<b>Add User:</b><input type="text" name="user" size=20/> Email <input type="text" name="email" size=20/>
<input type=submit><br/>
</form>
</div>

<div id="showUsers">
#for $user in $users
  <a href="../user/$user">$user</a><br>
#end for
</div>
</body>

