<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<head><title>User $user</title></head>

<body>
User $user <br>

<div id="showGroups">
<b>Groups:</b><br>
#for $group in $groups
  <a href="/reqmgr/admin/group/$group">$group</a><br>
#end for
</div>

<div id="addToGroup">
<form action="/reqmgr/admin/handleAddToGroup">
<b> Add to Group: </b>
<select name="group">
#for $group in $allGroups
  <option>$group</option>
#end for
</select>
<input type="hidden" name="user" value=$user></input>
<input type=submit>
</form>
</div>

<div id="requests">
<b>Requests:</b><br>
#for $request in $requests
  <a href="/reqmgr/view/details/$request">$request</a><br>
#end for
</div>

</body>
