<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head> <title> Job request </title>

<!-- Sam Skin CSS for TabView -->
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.1/build/tabview/assets/skins/sam/tabview.css">
<link type="text/css" rel="stylesheet" href="http://yui.yahooapis.com/2.8.2r1/build/autocomplete/assets/skins/sam/autocomplete.css">

 
<!-- JavaScript Dependencies for Tabview: -->
<script src="http://yui.yahooapis.com/2.8.1/build/yahoo-dom-event/yahoo-dom-event.js"></script>
<script src="http://yui.yahooapis.com/2.8.1/build/element/element-min.js"></script>
<script src="http://yui.yahooapis.com/2.8.2r1/build/datasource/datasource-min.js"></script>
<script src="http://yui.yahooapis.com/2.8.2r1/build/connection/connection-min.js"></script>
 
<!-- Source file for TabView -->
<script src="http://yui.yahooapis.com/2.8.1/build/tabview/tabview-min.js"></script>
<script src="http://yui.yahooapis.com/2.8.2r1/build/autocomplete/autocomplete-min.js"></script>
<script src="javascript/namespace.js"></script>
<script src="javascript/dataTable.js"></script>
<!-- Hokey way to keep ENTER from submitting the form.  Ticket #401 -->
<script type="text/javascript">

function stopRKey(evt) {
  var evt = (evt) ? evt : ((event) ? event : null);
  var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null);
  if ((evt.keyCode == 13) && (node.type=="text"))  {return false;}
}

document.onkeypress = stopRKey;

</script> 
</head>
<body class="yui-skin-sam">

#def headerBlock
<form action="makeSchema" method="post">
Optional Request ID String: <input type="text" name="RequestString" size=20 /><br/>
User: $requestor&nbsp Group:
<input type="hidden" value=$requestor name="Requestor" />
<select name="Group">'
    #for $group in $groups
        <option>$group</option>
    #end for
</select></br>

Request Priority: <input type="text" name="RequestPriority" size=2 value=1 /><br/>
#end def

#def softwareBlock
Software Release: <select name="CMSSWVersion">
			#for $version in $versions
    				#if $version == $defaultVersion
        				<option selectED>$version</option>
    				#else
        				<option>$version</option>
    				#end if
			#end for
		   </select>

		   <select name="ScramArch">
    			<option>slc4_ia32_gcc345</option>
    			<option selectED>slc5_ia32_gcc434</option>
    			<option>slc5_amd64_gcc434</option>
		   </select><br/>

#end def 

#def configBlock($radioName, $scenarioName, $cacheName, $type)
Configuration <br>
  <input type="radio" name=$radioName value="scenario" /> Scenario
    <select name="Scenario">
      <option selected> pp</option>
      <option>cosmics</option>
      <option>hcalnzs</option>
      <option>preprodmc</option>
      <option>prodmc</option>
      <option>relvalmc</option>
      <option>relvalmcfs</option>
    </select><br/>
  <input type="radio" name=$radioName value="couchDB" /> $type ConfigCache ID
    <!--<input type="text" name="$cacheName" size=80 />
    <select name=$cacheName>
    #for $doc in $alldocs
      <option>$doc</option>
    #end for
    </select>-->
    <div id="couchdiv">
       <input name="$cacheName" size=80 id="couchinput" type="text">
       <div id="couchcontainer"></div>
    </div>
  <br/>

Global Tag: <input type="text" name="GlobalTag" size=20 value=""/> &nbsp &nbsp
#end def

#def ioBlock
Input Dataset: <input type="text" name="InputDataset" size=40 /><br/>

DBS: <!--input type="text" name="dbs" value="http://cmsdbsprod.cern.ch/cms_dbs_prod_global/servlet/DBSServlet" size=80/><br/-->
<select name="DbsUrl">
		<option>http://cmsdbsprod.cern.ch/cms_dbs_prod_global/servlet/DBSServlet</option>
                <option>http://cmsdbsprod.cern.ch/cms_dbs_ph_analysis_01/servlet/DBSServlet</option>
                <option>http://cmsdbsprod.cern.ch/cms_dbs_ph_analysis_02/servlet/DBSServlet</option>
</select><br>
#end def

#def skimBlock($skimNum)
Skim Name: <input type="text", name="SkimName$skimNum" size=20 value="skim"$skimNum/>
Skim Input: <input type="text", name="SkimInput$skimNum" size=20 value="output"/><BR/>
Skim ConfigCache ID: <input type="text" name="Skim$skimNumConfigCacheID" value=$defaultSkimConfig size=80/><br>
#end def

#def moreSkims($firstSkim)
<input type="hidden" value=$firstSkim id="nskims" />
<a href="javascript:;" onclick="addSkim();">Add Skim</a><br>
<div id="skimDiv"> </div>
<script>
function addSkim() {
  var ni = document.getElementById('skimDiv');
  var numi = document.getElementById('nskims');
  var num = (document.getElementById('nskims').value-1) + 2;
  numi.value = num;
  var newdiv = document.createElement('div');
  var divIdName = 'my'+num+'Div';
  newdiv.setAttribute('id',divIdName);
  newdiv.innerHTML = 'Skim Name: <input type="text", name="SkimName'+num+'" size=20 value="skim'+num+'"/><br>' 
  + ' Skim Input '+num+': <input type="text", name="SkimInput'+num+'" size=40 value="output"/><BR/>' 
  +'Skim ConfigCache ID ' + num +': <input type="text" name="Skim'+num+'ConfigCacheID"/> <br>'
  ni.appendChild(newdiv);
}
</script>
#end def

#def $textarea($name)
    <textarea name=$name rows="2" cols="80"></textarea><br>
#end def

#def runBlockBlock
Run Whitelist (separated by commas): $textarea("RunWhitelist")
Run Blacklist (separated by commas): $textarea("RunBlacklist")
Block Whitelist (separated by commas): $textarea("BlockWhitelist")
Block Blocklist (separated by commas): $textarea("BlockBlacklist")
#end def

#def emulatorBlock
Emulator:
<select name="Emulator">
  <option>True</option>
  <option>False</option>
</select><br>
#end def


#def trailerBlock($requestType)
    <input type="hidden" name="RequestType" value=$requestType />
     <p><input type="submit" value="Submit"/></p></form>
#end def

<div id="tabby" class="yui-navset">
    <ul class="yui-nav">
        <li class="selected"><a href="#rereco"><em>ReReco</em></a></li>
        <li><a href="#mc"><em>Monte Carlo</em></a></li>
        <li><a href="#relvalmc"><em>RelVal MC</em></a></li>
        <li><a href="#storeResults"><em>StoreResults</em></a></li>
        <li><a href="#DataProcessing"><em>DataProcessing</em></a></li>
        <li><a href="#Resubmission"><em>Resubmission</em></a></li>
        <li><a href="#ReDigi"><em>ReDigi</em></a></li>
    </ul>
    <div class="yui-content">
        <div id="rereco">
            $headerBlock
            $softwareBlock
            $configBlock("inputMode", "Scenario", "ProcConfigCacheID", "Reco")
            $ioBlock
            $moreSkims(0)
            $runBlockBlock
            $trailerBlock("ReReco")
        </div>
        <div id="mc">
            $headerBlock
            $softwareBlock
# of Events: <input type="text" name="RequestSizeEvents" size=10 value=1000 />
            $configBlock("inputMode", "Scenario", "ProdConfigCacheID", "MC")
Primary Dataset: <input type="text" name="PrimaryDataset" size=40 /><br/>
Data Pileup: <input type="text" name="DataPileup" size=80 /><br/>
MC Pileup: <input type="text" name="MCPileup" size=80 /><br/>
            $trailerBlock("MonteCarlo")
        </div>
        <div id="relvalmc">
            $headerBlock
            $softwareBlock
Global Tag: <input type="text" name="GlobalTag" size=20 value=""/> &nbsp &nbsp
# of Events: <input type="text" name="RequestSizeEvents" size=10 value=1000 /><br/>
Generation ConfigCache ID <input type="text" name="GenConfigCacheID" size=80 /><br/>
Gen Data Tier: <input type="text" name="GenDataTier" size=40 /><br/>
Reco ConfigCache ID <input type="text" name="RecoConfigCacheID" size=80 /><br/>
AlCaReco ConfigCache ID <input type="text" name="AlcaRecoConfigCacheID" size=80 /><br/>
Primary Dataset: <input type="text" name="PrimaryDataset" size=40 /><br/>
Data Pileup: <input type="text" name="DataPileup" size=80 /><br/>
MC Pileup: <input type="text" name="MCPileup" size=80 /><br/>
            $trailerBlock("RelValMC")
        </div>
        <div id="storeResults">
            $headerBlock
            $softwareBlock
            $ioBlock
            $trailerBlock("StoreResults")
        </div>
        <div id="DataProcessing">
            $headerBlock
            $softwareBlock
# of Events: <input type="text" name="RequestSizeEvents" size=10 value=1000 />
Multicore: <input type="text" name="Multicore" size=2 value="" /> <br/>
            $configBlock("inputMode", "Scenario", "ProcConfigCacheID", "Processing")
            $ioBlock
            $runBlockBlock
            $trailerBlock("DataProcessing")
        </div>
        <div id="Resubmission">
            $headerBlock
Original Request Name: <input type="text" name="OriginalRequestName" size=30/> <br/>
Initial Task Path: <input type="text" name="InitialTaskPath" size=30/><br/>
ACDC Server URL: <input type="text" name="ACDCServer" size=30/><br/>
ACDC Database Name: <input type="text" name="ACDCDatabase" size=30/><br/>
            $trailerBlock("Resubmission")
        </div>
        <div id="ReDigi">
            $headerBlock
            $softwareBlock
            $ioBlock
<br/>
Step One CacheCache ID: <input type="text" name="StepOneConfigCacheID" size=80 /><br/>
Step One RAW Output Module Name: <input type="text" name="StepOneRAWOutputModuleName" size=20 /><br/>
Step Two CacheCache ID: <input type="text" name="StepTwoConfigCacheID" size=80 /><br/>
Step Two RECO Output Module Name: <input type="text" name="StepTwoRECOOutputModuleName" size=20 /><br/>
Step Three CacheCache ID: <input type="text" name="StepThreeConfigCacheID" size=80 /><br/>
Keep RAW: <select name="KeepRAW"><option>True</option><option>False</option></select><br/>
Global Tag: <input type="text" name="GlobalTag" size=20 value=""/><br/>
Data Pileup: <input type="text" name="DataPileup" size=80 /><br/>
MC Pileup: <input type="text" name="MCPileup" size=80 /><br/>
            $runBlockBlock
            $trailerBlock("ReDigi")
    </div>
</div>
<script type="text/javascript">
   var tabView = new YAHOO.widget.TabView('tabby');
</script>
<script type="text/javascript">
   var dataUrl = $alldocs
   var dataSchema = {fields:["doc"]};
   var dataSource = WMCore.createDataSource(dataUrl, dataSchema, "Local");
   var oAC = new YAHOO.widget.AutoComplete("couchinput", "couchcontainer", dataSource);
</script>
</body>
</html>

