<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head> <title> Job request </title>

<!-- Sam Skin CSS for TabView -->
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.1/build/tabview/assets/skins/sam/tabview.css">
 
<!-- JavaScript Dependencies for Tabview: -->
<script src="http://yui.yahooapis.com/2.8.1/build/yahoo-dom-event/yahoo-dom-event.js"></script>
<script src="http://yui.yahooapis.com/2.8.1/build/element/element-min.js"></script>
 
<!-- Source file for TabView -->
<script src="http://yui.yahooapis.com/2.8.1/build/tabview/tabview-min.js"></script>

<!-- Hokey way to keep ENTER from submitting the form.  Ticket #401 -->
<script type="text/javascript">

function stopRKey(evt) {
  var evt = (evt) ? evt : ((event) ? event : null);
  var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null);
  if ((evt.keyCode == 13) && (node.type=="text"))  {return false;}
}

document.onkeypress = stopRKey;

</script> 
</head>
<body class="yui-skin-sam">

#def headerBlock
<form action="makeSchema" method="post">
Optional Request ID String: <input type="text" name="RequestString" size=20 /><br/>
User: $requestor&nbsp Group:

<select name="Group">'
    #for $group in $groups
        <option>$group</option>
    #end for
</select></br>

Request Priority: <input type="text" name="RequestPriority" size=2 value=1 /><br/>
#end def

#def softwareBlock
Software Release: <select name="CMSSWVersion">
			#for $version in $versions
    				#if $version == $defaultVersion
        				<option selectED>$version</option>
    				#else
        				<option>$version</option>
    				#end if
			#end for
		   </select>

		   <select name="ScramArch">
    			<option>slc4_ia32_gcc345</option>
    			<option selectED>slc5_ia32_gcc434</option>
    			<option>slc5_amd64_gcc434</option>
		   </select><br/>

#end def 

#def configBlock($radioName, $scenarioName, $cacheName)
Configuration <br>
  <input type="radio" NAME=$radioName value="scenario"> Scenario
    <select name="Scenario">
      <option selected> pp
      <option> cosmics
      <option> hcalnzs
      <option> preprodmc</option>
      <option> prodmc </option>
      <option> relvalmc </option>
      <option> relvalmcfs </option>
    </select><br>
  </input>
  <input type="radio" NAME=$radioName value="couchDB"> CouchDB ID
    <input TYPE=TEXT" name="ProdConfigCacheID" SIZE=80>
  </input><br>

Global Tag: <input type="text" name="GlobalTag" size=20 value=""/> &nbsp &nbsp
#end def

#def ioBlock
Input Dataset: <input type="text" name="InputDataset" size=40 /><br/>

DBS: <!--input type="text" name="dbs" value="http://cmsdbsprod.cern.ch/cms_dbs_prod_global/servlet/DBSServlet" size=80/><br/-->
<select name="DbsUrl">
		<option>http://cmsdbsprod.cern.ch/cms_dbs_prod_global/servlet/DBSServlet</option>
                <option>http://cmsdbsprod.cern.ch/cms_dbs_ph_analysis_01/servlet/DBSServlet</option>
                <option>http://cmsdbsprod.cern.ch/cms_dbs_ph_analysis_02/servlet/DBSServlet</option>
</select></br>
#end def

#def skimBlock($skimNum)
Skim Name: <input type="text", name="SkimName$skimNum" SIZE=20 value="skim"$skimNum/>
Skim Input: <input type="text", name="SkimInput$skimNum" SIZE=20 value="output"/><BR/>
Skim Config: <input type="text" name="SkimConfig$skimNum" VALUE=$defaultSkimConfig size=80/><br>
#end def

#def moreSkims($firstSkim)
<input type="hidden" value=$firstSkim id="nskims" />
<a href="javascript:;" onclick="addSkim();">Add Skim</a><br>
<div id="skimDiv"> </div>
<script>
function addSkim() {
  var ni = document.getElementById('skimDiv');
  var numi = document.getElementById('nskims');
  var num = (document.getElementById('nskims').value-1) + 2;
  numi.value = num;
  var newdiv = document.createElement('div');
  var divIdName = 'my'+num+'Div';
  newdiv.setAttribute('id',divIdName);
  newdiv.innerHTML = 'Skim Name: <input type="text", name="SkimName'+num+'" SIZE=20 value="skim'+num+'"/><br>' 
  + ' Skim Input '+num+': <input type="text", name="SkimInput'+num+'" SIZE=40 value="output"/><BR/>' 
  +'Skim Config ' + num +': <input type="text" name="SkimConfig'+num+'"/> <br>'
  ni.appendChild(newdiv);
}
</script>
#end def

#def $textarea($name)
    <textarea name=$name rows="2" cols="80"></textarea><br>
#end def

#def runBlockBlock
Run Whitelist (separated by commas): $textarea("RunWhitelist")
Run Blacklist (separated by commas): $textarea("RunBlacklist")
Block Whitelist (separated by commas): $textarea("BlockWhitelist")
Block Blocklist (separated by commas): $textarea("BlockBlacklist")
#end def

#def emulatorBlock
Emulator:
<select name="Emulator">
  <option>True</option>
  <option>False</option>
</select><br>
#end def


#def trailerBlock($requestType)
    <input type="hidden" name="RequestType" VALUE=$requestType></input>
     <p><input type="submit" value="Submit"/></p></form>
#end def

<div id="tabby" class="yui-navset">
    <ul class="yui-nav">
        <li class="selected"><a href="#rereco"><em>ReReco</em></a></li>
        <li><a href="#mc"><em>Monte Carlo</em></a></li>
        <li><a href="#storeResults"><em>StoreResults</em></a></li>
        <li><a href="#generic"><em>Generic</em></a></li>
    </ul>
    <div class="yui-content">
        <div id="rereco">
            $headerBlock
            $softwareBlock
            $configBlock("inputMode", "Scenario", "ProdConfigCacheID")
            $ioBlock
            $moreSkims(0)
            $runBlockBlock
            $trailerBlock("ReReco")
        </div>
        <div id="mc">
            $headerBlock
            $softwareBlock
# of Events: <input type="text" name="RequestSizeEvents" size=10 value=1000 />
            $emulatorBlock
            $configBlock("inputMode", "Scenario", "ProdConfigCacheID")
Primary Dataset: <input type="text" name="PrimaryDataset" size=40 /><br/>
            $trailerBlock("MonteCarlo")
        </div>
        <div id="storeResults">
            $headerBlock
            $softwareBlock
            $ioBlock
            $trailerBlock("StoreResults")
        </div>
        <div id="generic">
            $headerBlock
            $softwareBlock
# of Events: <input type="text" name="RequestSizeEvents" size=10 value=1000 />
            $configBlock("inputMode", "Scenario", "ProdConfigCacheID")
            $ioBlock
            $runBlockBlock
            $trailerBlock("FileProcessing")
        </div>
    </div>
</div>
<script type="text/javascript">
   var tabView = new YAHOO.widget.TabView('tabby');
</script>
  
</body>
</html>

