<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head> <title> Job request </title>

<!-- Sam Skin CSS for TabView -->
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.1/build/tabview/assets/skins/sam/tabview.css">
<link type="text/css" rel="stylesheet" href="http://yui.yahooapis.com/2.8.2r1/build/autocomplete/assets/skins/sam/autocomplete.css">

 
<!-- JavaScript Dependencies for Tabview: -->
<script src="http://yui.yahooapis.com/2.8.1/build/yahoo-dom-event/yahoo-dom-event.js"></script>
<script src="http://yui.yahooapis.com/2.8.1/build/element/element-min.js"></script>
<script src="http://yui.yahooapis.com/2.8.2r1/build/datasource/datasource-min.js"></script>
<script src="http://yui.yahooapis.com/2.8.2r1/build/connection/connection-min.js"></script>
 
<!-- Source file for TabView -->
<script src="http://yui.yahooapis.com/2.8.1/build/tabview/tabview-min.js"></script>
<script src="http://yui.yahooapis.com/2.8.2r1/build/autocomplete/autocomplete-min.js"></script>
<script src="javascript/namespace.js"></script>
<script src="javascript/dataTable.js"></script>
<!-- Hokey way to keep ENTER from submitting the form.  Ticket #401 -->
<script type="text/javascript">

function stopRKey(evt) {
  var evt = (evt) ? evt : ((event) ? event : null);
  var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null);
  if ((evt.keyCode == 13) && (node.type=="text"))  {return false;}
}

document.onkeypress = stopRKey;

</script> 
</head>
<body class="yui-skin-sam">

#def headerBlock
<form action="makeSchema" method="post">
Optional Request ID String: <input type="text" name="RequestString" size=20 /><br/>
Optional Prep ID String: <input type="text" name="PrepID" size=20 /><br/>
User: $requestor&nbsp Group:
<input type="hidden" value=$requestor name="Requestor" />
<select name="Group">'
    #for $group in $groups
        <option>$group</option>
    #end for
</select></br>

Request Priority: <input type="text" name="RequestPriority" size=2 value=1 /><br/>
#end def

#def softwareBlock
Software Release: 
<select name="CMSSWVersion">
  #for $version in $versions
    #if $version == $defaultVersion
      <option selected>$version</option>
    #else
      <option>$version</option>
    #end if
  #end for
</select>
<select name="ScramArch">
  #for $arch in $archs
    #if $arch == $defaultArch
      <option selected>$arch</option>
    #else
      <option>$arch</option>
    #end if
  #end for
</select><br/>
#end def 

#def performanceBlock
Time per event (Seconds): <input type="text" name="TimePerEvent" size=10 value=12 />
Memory (MBytes): <input type="text" name="Memory" size=10 value=2300 />
Size per event (KBytes): <input type="text" name="SizePerEvent" size=10 value=512 /><br/>
#end def

#def dqmOptions
<input type="checkbox" name="EnableDQMHarvest"/>Enable DQM Harvesting<br/>
DQM ConfigCacheID: <input type="text" name="DQMConfigCacheID" size=40 /><br/>
DQM Sequences: <input type="text" name="DqmSequences" size=40 />
DQM URL:
<select name="DQMUploadUrl">
    <option selected> https://cmsweb.cern.ch/dqm/dev </option>
    <option> https://cmsweb.cern.ch/dqm/offline </option>
    <option> https://cmsweb.cern.ch/dqm/relval </option>
    <option> https://cmsweb-testbed.cern.ch/dqm/dev </option>
    <option> https://cmsweb-testbed.cern.ch/dqm/offline </option>
    <option> https://cmsweb-testbed.cern.ch/dqm/relval </option>
</select><br/>

#end def

#def scenarioBlock
Scenario:
  <select name="ProcScenario">
    <option selected> pp</option>
    <option>cosmics</option>
    <option>hcalnzs</option>
    <option>preprodmc</option>
    <option>prodmc</option>
    <option>relvalmc</option>
    <option>relvalmcfs</option>
  </select><br/>
#end def

#def configBlock($radioName, $scenarioName, $cacheName, $type)
Configuration <br>
  <input type="radio" name=$radioName value="scenario" /> Scenario <br/>
  $scenarioBlock
  <input type="radio" name=$radioName value="couchDB" /> $type ConfigCache ID
    <!--<input type="text" name="$cacheName" size=80 />
    <select name=$cacheName>
    #for $doc in $alldocs
      <option>$doc</option>
    #end for
    </select>-->
    <div id="couchdiv">
       <input name="$cacheName" size=80 id="couchinput" type="text">
       <div id="couchcontainer"></div>
    </div>
Global Tag: <input type="text" name="GlobalTag" size=20 value=""/> &nbsp &nbsp <br>
#end def

#def campaignBlock
<div id="campaigndiv">
Campaign: <input type="text" name="Campaign" size=40 id="campaign" />
<div id="campaigncontainer"></div>
</div>
#end def

#def ioBlock
Input Dataset: <input type="text" name="InputDataset" size=40 /><br/>
Open Running Timeout: <input type="text" name="OpenRunningTimeout" size=10 value="0"/><br/>
DBS: <!--input type="text" name="dbs" value="http://cmsdbsprod.cern.ch/cms_dbs_prod_global/servlet/DBSServlet" size=80/><br/-->
<select name="DbsUrl">
		<option>http://cmsdbsprod.cern.ch/cms_dbs_prod_global/servlet/DBSServlet</option>
                <option>http://cmsdbsprod.cern.ch/cms_dbs_ph_analysis_01/servlet/DBSServlet</option>
                <option>http://cmsdbsprod.cern.ch/cms_dbs_ph_analysis_02/servlet/DBSServlet</option>
		<option>https://cmsweb-dev.cern.ch/dbs/prod/global/DBSWriter</option>
		<option>https://dbs3-dev01.cern.ch/dbs/prod/global/DBSWriter</option>
		<option>http://cms-xen40.fnal.gov:8787/dbs/prod/global/DBSWriter</option>
</select><br>
#end def

#def skimBlock
<a href="javascript:;" onclick="addSkim();">Add Skim</a><br>
<div id="skimDiv"> </div>
<script>
var nskim = 1
function addSkim() {
  var ni = document.getElementById('skimDiv');
  var newdiv = document.createElement('div');
  var divIdName = 'my'+nskim+'Div';
  newdiv.setAttribute('id',divIdName);
  newdiv.innerHTML = 'Skim Name: <input type="text", name="SkimName'+nskim+'" size=20 value="skim'+nskim+'"/><br/>' 
  + ' Skim Input '+nskim+': <input type="text", name="SkimInput'+nskim+'" size=40"/><br/>' 
  +'Skim ConfigCache ID ' + nskim +': <input type="text" name="Skim'+nskim+'ConfigCacheID"/> <br/>'
  +'Skim Time per Event ' + nskim +': <input type="text" name="SkimTimePerEvent'+nskim+'" size=10/> <br/>'
  +'Skim Size per Event ' + nskim +': <input type="text" name="SkimSizePerEvent'+nskim+'" size=10/> <br/>'
  +'Skim Memory ' + nskim +': <input type="text" name="SkimMemory'+nskim+'" size=10/> <br/>'
  ni.appendChild(newdiv);
  ++nskim;
}
</script>
#end def

#def $textarea($name)
    <textarea name=$name rows="2" cols="80"></textarea><br>
#end def

#def runBlockBlock
Run Whitelist (separated by commas): $textarea("RunWhitelist")
Run Blacklist (separated by commas): $textarea("RunBlacklist")
Block Whitelist (separated by commas): $textarea("BlockWhitelist")
Block Blocklist (separated by commas): $textarea("BlockBlacklist")
#end def

#def emulatorBlock
Emulator:
<select name="Emulator">
  <option>True</option>
  <option>False</option>
</select><br>
#end def


#def trailerBlock($requestType)
    <input type="hidden" name="RequestType" value=$requestType />
     <p><input type="submit" value="Submit"/></p></form>
#end def

#def initialLumiEventBlock
First event: <input type="text" name="FirstEvent" size=10 value=1 />
First lumi: <input type="text" name="FirstLumi" size=10 value=1 /><br/>
#end def

<div id="tabby" class="yui-navset">
    <ul class="yui-nav">
        <li class="selected"><a href="#rereco"><em>ReReco</em></a></li>
        <li><a href="#mc"><em>Monte Carlo</em></a></li>
        <li><a href="#relvalmc"><em>RelVal MC</em></a></li>
        <li><a href="#storeResults"><em>StoreResults</em></a></li>
        <li><a href="#DataProcessing"><em>DataProcessing</em></a></li>
        <li><a href="#Resubmission"><em>Resubmission</em></a></li>
        <li><a href="#ReDigi"><em>ReDigi</em></a></li>
        <li><a href="#MonteCarloFromGEN"><em>MonteCarlo FromGEN</em></a></li>
        <li><a href="#lhe"><em>LHE Step0</em></a></li>
    </ul>
    <div class="yui-content">
        <div id="rereco">
            $headerBlock
            $softwareBlock
Include Parents: <select name="IncludeParents"><option>True</option><option selected>False</option></select><br/>
            $campaignBlock
            $configBlock("inputMode", "Scenario", "ConfigCacheID", "Reco")
            $dqmOptions
            $ioBlock
            $skimBlock
            $runBlockBlock
            $performanceBlock
            $trailerBlock("ReReco")
        </div>
        <div id="mc">
            $headerBlock
            $softwareBlock
# of Events: <input type="text" name="RequestNumEvents" size=10 value=1000 />
Filter efficiency: <input type="text" name="FilterEfficiency" size=10 value=1.0 />
Total job time: <input type="text" name="TotalTime", value=32400 /><br/>
            $performanceBlock
            $initialLumiEventBlock
            $configBlock("inputMode", "Scenario", "ConfigCacheID", "MC")
Primary Dataset: <input type="text" name="PrimaryDataset" size=40 /><br/>
Data Pileup: <input type="text" name="DataPileup" size=80 /><br/>
MC Pileup: <input type="text" name="MCPileup" size=80 /><br/>
            $trailerBlock("MonteCarlo")
        </div>
        <div id="relvalmc">
            $headerBlock
            $softwareBlock
            $campaignBlock
Global Tag: <input type="text" name="GlobalTag" size=20 value=""/> &nbsp &nbsp
# of Events: <input type="text" name="RequestNumEvents" size=10 value=1000 /><br/>
Generation ConfigCache ID <input type="text" name="GenConfigCacheID" size=80 /><br/>
Generation Output Module Name: <input type="text" name="GenOutputModuleName" size=40 /><br/>
Step One ConfigCache ID <input type="text" name="StepOneConfigCacheID" size=80 /><br/>
Step Two ConfigCache ID <input type="text" name="StepTwoConfigCacheID" size=80 /><br/>
StepOne Output Module Name: <input type="text" name="StepOneOutputModuleName" size=40 /><br/>
Primary Dataset: <input type="text" name="PrimaryDataset" size=40 /><br/>
Data Pileup: <input type="text" name="DataPileup" size=80 /><br/>
MC Pileup: <input type="text" name="MCPileup" size=80 /><br/>
            $performanceBlock
            $trailerBlock("RelValMC")
        </div>
        <div id="storeResults">
            $headerBlock
Acquisition Era: <input type="text" name="AcquisitionEra" size=50/><br/>
Processing Version: <input type="text" name="ProcessingVersion" size=50/><br/>
Global Tag: <input type="text" name="GlobalTag" size=20/></br>
CMS Path: <input type="text" name="CmsPath" size=50/><br/>
            $softwareBlock
            $campaignBlock
            $ioBlock
            $performanceBlock
            $trailerBlock("StoreResults")
        </div>
        <div id="DataProcessing">
            $headerBlock
            $softwareBlock
Include Parents: <select name="IncludeParents"><option>True</option><option selected>False</option></select><br/>
            $campaignBlock
Multicore: <input type="text" name="Multicore" size=2 value="" /> <br/>
            $configBlock("inputMode", "Scenario", "ConfigCacheID", "Processing")
            $dqmOptions
            $ioBlock
            $runBlockBlock
            $performanceBlock
            $trailerBlock("DataProcessing")
        </div>
        <div id="Resubmission">
            $headerBlock
Original Request Name: <input type="text" name="OriginalRequestName" size=30/> <br/>
Initial Task Path: <input type="text" name="InitialTaskPath" size=30/><br/>
ACDC Server URL: <input type="text" name="ACDCServer" size=30/><br/>
ACDC Database Name: <input type="text" name="ACDCDatabase" size=30/><br/>
Ignored Output Modules: <input type="text" name="IgnoredOutputModules" size=40/><br/>
Alternative Collection Name: <input type="text" name="CollectionName" size=40/><br/>
            $performanceBlock
            $trailerBlock("Resubmission")
        </div>
        <div id="ReDigi">
            $headerBlock
            $softwareBlock
Include Parents: <select name="IncludeParents"><option>True</option><option selected>False</option></select><br/>
            $campaignBlock
            $ioBlock
<br/>
            $scenarioBlock
            $dqmOptions
Step One CacheCache ID: <input type="text" name="StepOneConfigCacheID" size=80 /><br/>
Step One Output Module Name: <input type="text" name="StepOneOutputModuleName" size=20 /><br/>
Step Two CacheCache ID: <input type="text" name="StepTwoConfigCacheID" size=80 /><br/>
Step Two Output Module Name: <input type="text" name="StepTwoOutputModuleName" size=20 /><br/>
Step Three CacheCache ID: <input type="text" name="StepThreeConfigCacheID" size=80 /><br/>
Keep Step One Output: <select name="KeepStepOneOutput"><option>True</option><option>False</option></select><br/>
Keep Step Two Output: <select name="KeepStepTwoOutput"><option>True</option><option>False</option></select><br/>
Global Tag: <input type="text" name="GlobalTag" size=20 value=""/><br/>
Data Pileup: <input type="text" name="DataPileup" size=80 /><br/>
MC Pileup: <input type="text" name="MCPileup" size=80 /><br/>
            $runBlockBlock
            $performanceBlock
            $trailerBlock("ReDigi")
    </div>
        <div id="MonteCarloFromGEN">
            $headerBlock
            $softwareBlock
            $campaignBlock
ConfigCache ID: <input type="text" name="ConfigCacheID" size=80 /><br/>
Global Tag: <input type="text" name="GlobalTag" size=20 value=""/><br/>
            $ioBlock
            $runBlockBlock
            $performanceBlock
            $trailerBlock("MonteCarloFromGEN")
        </div>
        <div id="lhe">
            $headerBlock
            $softwareBlock
# of Events: <input type="text" name="RequestNumEvents" size=10 value=1000 />
Filter efficiency: <input type="text" name="FilterEfficiency" size=10 value=1.0 /><br/>
Total job time: <input type="text" name="TotalTime", value=32400 />
# of Events per luminosity block: <input type="text" name="EventsPerLumi" size=10 value=100 /><br/>
	    $initialLumiEventBlock
ConfigCache ID: <input type="text" name="ConfigCacheID" size=80 /><br/>
Global Tag: <input type="text" name="GlobalTag" size=20 value=""/><br/>
Primary Dataset: <input type="text" name="PrimaryDataset" size=40 /><br/>
Data Pileup: <input type="text" name="DataPileup" size=80 /><br/>
MC Pileup: <input type="text" name="MCPileup" size=80 /><br/>
            $performanceBlock
            $trailerBlock("LHEStepZero")
        </div>
</div>
<script type="text/javascript">
   var tabView = new YAHOO.widget.TabView('tabby');
</script>
<script type="text/javascript">
//   var couchInput = $alldocs
//   var couchSchema = {fields:["doc"]};
//   var couchSource = WMCore.createDataSource(couchInput, couchSchema, "Local");
//   var couchAutoComplete = new YAHOO.widget.AutoComplete("couchinput", "couchcontainer", couchSource);

//   var campaignInput = $allcampaigns
//   var campaignSchema = {fields:["doc"]};
//   var campaignSource = WMCore.createDataSource(campaignInput, campaignSchema, "Local");
//   var campaignAutoComplete = new YAHOO.widget.AutoComplete("campaigninput", "campaigncontainer", campaignSource);

 </script>
</body>
</html>

