.main-menu-item {
    font-size: 16px;
    color: #7C81B2;
}
.header {
    background-color: #CCCCCC;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    border-bottom: 1px solid #000000;
    font: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Helvetica,Arial,sans-serif;
    font-weight: bold;
    color: #808080;
}
.shadow {
    -webkit-box-shadow: 10px 10px 20px #666666;
    -moz-box-shadow: 10px 10px 20px #666666;
    -o-box-shadow: 10px 10px 20px #666666;
    box-shadow: 10px 10px 20px #666666;
}
.all-side-shadow {
    -webkit-box-shadow: 2px 2px 10px 10px #666;
    -moz-box-shadow: 2px 2px 10px 10px #666;
    -o-box-shadow: 2px 2px 10px 10px #666;
    box-shadow: 2px 2px 10px 10px #666;
}
.borders {
    -webkit-border-radius: 40px;
    -khtml-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
}

.editor {
    width:100%;
    height:400px;
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    font-weight: bold;
    font-size: 1.2em;
    color: rgb(64, 64, 64);
    position: relative;
/*    overflow: hidden;*/
/*    resize: none;*/
/*    white-space: nowrap;*/
}
.height-200 {
    height:200px;
}

// http://css-tricks.com/snippets/css/glowing-blue-input-highlights/
input[type=text], textarea {
  -webkit-appearance: textarea;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
 
input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px #333333;
  border: 1px solid #808080;
  outline-color: #333333;
  background-color: #F5F5F5;
}
.underline {border-bottom: 3px solid #808080;}
.hide {
    display: none;
}
.show {
    display: block;
    margin-top:6px;
    border-top-width:1px;
}
.replace {
    color: blue;
    font-weight: bold;
}
.ticket {
  color: #000000;
  background-color: #F5C669;
  border-width: 1px 1px 1px 1px;
  padding: 3px 3px 3px 3px;
  border-style: dashed;
  border-color: #000;
  cursor: pointer;
}
tr:nth-child(even){ background:#F4F4F4; }
th { background: #B3B3B3; color: white; font-weight: bold; }
