<h2>Create request interface</h2>
<hr/>
<header class="group">
    <nav class="navbar navbar-left">
        <ul>
        <li id="rereco" class="menu-item"><a href="$base/create?form=rereco">ReReco</a></li>
        <li id="mc" class="menu-item"><a href="$base/create?form=mc">MonteCarlo</a></li>
        <li id="storeres" class="menu-item"><a href="$base/create?form=storeres">StoreResults</a></li>
        <li id="dataproc" class="menu-item"><a href="$base/create?form=dataproc">DataProcessing</a></li>
        <li id="resub" class="menu-item"><a href="$base/create?form=resub">Resubmission</a></li>
        <li id="redigi" class="menu-item"><a href="$base/create?form=redigi">ReDigi</a></li>
        </ul>
    </nav>
    <nav class="navbar navbar-right">
        <ul>
        <li><button class="btn btn-active" id="btn-table" onclick="ActivateTable()">Table</button></li>
        <li><button class="btn" id="btn-json" onclick="ActivateJSON()">JSON</button></li>
        </ul>
    </nav>
</header>

<form method="post" action="$base/data/request" class="forms" name="$name">
<input type="hidden" name="action" value="create" />
<div name="edit-table" id="edit-table">
<strong>
Please use the following table to fill out template form. If you need to extend it
fill free to switch to JSON format and edit JSON directly.
</strong>
$table
    <p class="units-row">
    <div id="confirmation"></div>
    <button class="btn btn-green unit-push-right">Create</button>
    </p>
</div>
</form>
<form method="post" action="$base/data/request" class="forms" name="$name JSON">
<div name="edit-json" id="edit-json" class="hide">
<textarea class="editor height-200" name="jsondict">
$jsondata
</textarea>
    <br/>
    <p class="units-row">
    <button class="btn btn-green unit-push-right">Create</button>
    </p>
</div>
</form>
<div>

<hr/>

<h4>Create series of JSON requests</h4>
You can place your python snippet below to either update given JSON
template or generate out of it multiple JSON objects. To do so, please
use <strong>jsondict</strong> object as your starting point.
</br>
</br>
You may also choose your favorite snippet from existing data-ops scripts:
<select onChange="javascript:ajaxScript('$base')" id="snippets">
#for item in $scripts
<option value="$item">$item script</option>
#end for
</select>

<form method="post" action="$base/generate_objs" class="forms">
<textarea style="display:none;" name="jsondict">
$jsondata
</textarea>
<textarea class="editor height-200" name="code" id="code">
def genobjs(jsondict):
    for item in xrange(10):
        mydict = dict(jsondict)
        mydict.update({'myfield': item})
        yield mydict
</textarea>
<br/>
<p class="units-row">
    <button class="btn btn-green unit-push-right">Create</button>
</p>
</form>

<script>
function ActivateTable() {
    var id = document.getElementById('btn-table');
    id.className="btn btn-active";
    id = document.getElementById('btn-json');
    id.className="btn";
    ShowTag('edit-table');HideTag('edit-json');
}
function ActivateJSON() {
    var id = document.getElementById('btn-json');
    id.className="btn btn-active";
    id = document.getElementById('btn-table');
    id.className="btn";
    ShowTag('edit-json');HideTag('edit-table');
}
function ShowForm(tag) {
    var id=document.getElementById(tag);
    id.className='menu-item active underline'
}
ShowForm('$name')
</script>
