<table class="table-stripped">
<tbody>
<tr><td class="width-30">
        <input id="filter" type="search" class="width-100" placeholder="Filter by pattern ...">
</td><td class="width-10">
        <a href="#" class="" onclick="BuildList('', requests.filter(ByPattern))">Search</a>
</td><td class="width-60 right">
<div class="group">
    <nav class="navbar navbar-right">
        <ul>
        <li><b>Sort</b> by:</li>
        <li class="menu-item underline"><a href="#" onclick="BuildList(this, requests.filter(ByPattern).sort(ByDate))">Date</a></li>
        <li class="menu-item"><a href="#" onclick="BuildList(this, requests.filter(ByPattern).sort(ByStatus))">Status</a></li>
        <li class="menu-item"><a href="#" onclick="BuildList(this, requests.filter(ByPattern).sort(ByRequestor))">User</a></li>
        <li class="menu-item"><a href="#" onclick="BuildList(this, requests.filter(ByPattern).sort(ByGroup))">Group</a></li>
        </ul>
    </nav>
</div>
</td></tr>
</tbody>
</table>
