<h2>Validate interface</h2>
<hr/>
<strong>Paste your JSON into provided box:</strong>
<form method="post" action="$base/confirm_action" class="forms">
<input type="hidden" name="action" value="validate" />
<textarea class="editor"></textarea>
<br/>
<button class="btn right btn-green">Validate</button>
</form>
